In [1]:
import pandas as pd
import numpy as np
from difflib import SequenceMatcher, get_close_matches
from tqdm import tqdm
from collections import Counter
from fuzzywuzzy import fuzz
import re

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df_man = pd.read_csv('../../data/data_v2/subsequent_manufacturers.csv')
df_man = df_man.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x)
df_manufacturer = df_man[df_man['manufacturer_match_score'] < 0.8]
df_manufacturer.head()

    manufacturer_name best_manufacturer_match  manufacturer_match_score
5               local                 oic ltd                      0.15
16               fugo              pz cussons                      0.27
22              local                 oic ltd                      0.15
31  mukurwe-ini dairy             zagro-india                      0.41
33               xxxx                    apex                      0.22

In [3]:
df_non_dup = df_manufacturer.drop_duplicates(subset='manufacturer_name', keep='first')
df_non_dup['word_count'] = df_manufacturer['manufacturer_name'].apply(lambda x: len(x.split()) if isinstance(x, str) else 1)
df_non_dup['manufacturer_name'] = df_non_dup['manufacturer_name'].astype('str')

manufacturer_list = []

for index, row in df_non_dup.iterrows():
    word_count = row['word_count']
    manufacturer_name = row['manufacturer_name']
    
    if word_count in [1,2]:
        manufacturer_slice = manufacturer_name.strip().split()[:1]
        manufacturer_list.append(' '.join(manufacturer_slice))
    elif word_count in [3,4,5]:
        manufacturer_slice = manufacturer_name.strip().split()[:2]
        manufacturer_list.append(' '.join(manufacturer_slice))
    else:
        manufacturer_slice = manufacturer_name.strip().split()[:3]
        manufacturer_list.append(' '.join(manufacturer_slice))
           
df_non_dup['manufacturer_slice'] = manufacturer_list        
df_non_dup = df_non_dup.reset_index(drop=True)
df_non_dup.head()

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,word_count,manufacturer_slice
0,local,oic ltd,0.15,1,local
1,fugo,pz cussons,0.27,1,fugo
2,mukurwe-ini dairy,zagro-india,0.41,2,mukurwe-ini
3,xxxx,apex,0.22,1,xxxx
4,g&g,hebei yuangzheng,0.20,1,g&g

In [4]:
df_non_dup.shape

(18619, 5)

In [5]:
df_manufacturer_slice = df_non_dup['manufacturer_slice'].drop_duplicates(keep='first').to_frame()
df_manufacturer_slice = df_manufacturer_slice.reset_index(drop=True)
df_manufacturer_slice

      manufacturer_slice
0                  local
1                   fugo
2            mukurwe-ini
3                   xxxx
4                    g&g
...                  ...
12693             gloria
12694        kiresi seed
12695  triachem tanzania
12696               tags
12697           optighem

[12698 rows x 1 columns]

In [6]:
matched = []
def compare(i):
    compare = {}
    if i in matched:
        compare.update({i: ''})
    else:
        compare.update({i: get_close_matches(i, df_manufacturer_slice['manufacturer_slice'].to_list(), 20, 0.85)})
    # matched.extend(compare.values())
    matched.extend([item for sublist in compare.values() for item in sublist])
    manufacturer_slice = list(compare.keys())
    match = []
    for key, items in compare.items():
      match.append(items)
    return pd.Series([manufacturer_slice, match],index=['manufacturer_slice', 'match'])

      
cleaned_manufacturers_df = pd.DataFrame()
cleaned_manufacturers_df[['manufacturer_slice', 'match']] = df_manufacturer_slice['manufacturer_slice'].apply(lambda x: compare(x))
cleaned_manufacturers_df = cleaned_manufacturers_df.applymap(lambda x: x[0] if x else '')
cleaned_manufacturers_df.head()

  manufacturer_slice                                              match
0              local  [local, localy, locals, locali, local., local,...
1               fugo                            [fugo, fungo, fuo, fug]
2        mukurwe-ini                                      [mukurwe-ini]
3               xxxx                                        [xxxx, xxx]
4                g&g                                              [g&g]

In [7]:
len(set(matched))

12698

In [8]:
dnd_cleaned_manufacturers_df = cleaned_manufacturers_df.copy()
cleaned_manufacturers_df['manufacturer_slice'] = cleaned_manufacturers_df['manufacturer_slice'].astype('str')

In [9]:
filtered_df = cleaned_manufacturers_df[cleaned_manufacturers_df['match'].apply(lambda x: len(x) == 0)]
filtered_df

      manufacturer_slice match
84                  somo
131           intercheme
151                  xxx
152                 lcal
192                 loal
...                  ...   ...
12682            nexigen
12684        amamy green
12686           olympics
12687          pt mandom
12693             gloria

[3236 rows x 2 columns]

In [10]:
for i, row in cleaned_manufacturers_df.iterrows():
    string = row['manufacturer_slice']
    lst = row['match']
    
    # Check if the string exists in any list of previous rows
    if not lst:
        for prev_i in range(i):
            prev_lst = cleaned_manufacturers_df.at[prev_i, 'match']
            if string in prev_lst:
                cleaned_manufacturers_df.at[i, 'match'] = prev_lst
                break  # Stop searching after finding the first match

# Reset the index of the DataFrame
# cleaned_manufacturers_df_subset = cleaned_manufacturers_df_subset.reset_index(drop=True)

pd.set_option('display.max_colwidth', None)
cleaned_manufacturers_df.head()

,manufacturer_slice,match
0,local,"[local, localy, locals, locali, local., local,, locl, loca, loal, lcal]"
1,fugo,"[fugo, fungo, fuo, fug]"
2,mukurwe-ini,[mukurwe-ini]
3,xxxx,"[xxxx, xxx]"
4,g&g,[g&g]

In [11]:
dnd_df_non_dup = df_non_dup.copy()

In [12]:
df_non_dup = pd.merge(df_non_dup, cleaned_manufacturers_df, how='left', on='manufacturer_slice')
df_non_dup.head()

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,word_count,manufacturer_slice,match
0,local,oic ltd,0.15,1,local,"[local, localy, locals, locali, local., local,, locl, loca, loal, lcal]"
1,fugo,pz cussons,0.27,1,fugo,"[fugo, fungo, fuo, fug]"
2,mukurwe-ini dairy,zagro-india,0.41,2,mukurwe-ini,[mukurwe-ini]
3,xxxx,apex,0.22,1,xxxx,"[xxxx, xxx]"
4,g&g,hebei yuangzheng,0.20,1,g&g,[g&g]

In [13]:
# Initialize an empty list to store the similar strings
similar_strings = []

# Iterate over the rows of the DataFrame
for i, row in df_non_dup.iterrows():
    string = row['manufacturer_name']
    value = row['match']
    
    # Check if any other row has a similar value in 'col2'
    similar_rows = df_non_dup[df_non_dup['match'].apply(lambda x: x == value)]
    
    # Extract the strings from 'col1' in similar rows
    similar_strings.append(similar_rows['manufacturer_name'].tolist())

similar_strings[:5]

[['local',
  'lcal',
  'loal',
  'locl',
  'local,',
  'localy',
  'local manufacture',
  'local supplier',
  'local nairobi',
  'local manufacturer',
  'local artisan',
  'local juakali',
  'loca',
  'locali',
  'local providers',
  'local seller',
  'localy made',
  'local.',
  'local industries',
  'local manufactur',
  'local any',
  'local carpenters',
  'locals',
  'local ltd.'],
 ['fugo',
  'fug',
  'fugo company',
  'fuo',
  'fugo feeds',
  'fugo ltd',
  'fungo',
  'fugo vits',
  'fugo unga',
  'fugo feed',
  'fugo vit'],
 ['mukurwe-ini dairy'],
 ['xxxx', 'xxx'],
 ['g&g']]

In [14]:
df_similar_strings = pd.DataFrame({'similar_strings': similar_strings})
df_similar_strings = df_similar_strings['similar_strings'].drop_duplicates(keep='first').to_frame().reset_index(drop=True)
df_similar_strings.head()

                                                                                                                                                                                                                                                                                        similar_strings
0  [local, lcal, loal, locl, local,, localy, local manufacture, local supplier, local nairobi, local manufacturer, local artisan, local juakali, loca, locali, local providers, local seller, localy made, local., local industries, local manufactur, local any, local carpenters, locals, local ltd.]
1                                                                                                                                                                                                [fugo, fug, fugo company, fuo, fugo feeds, fugo ltd, fungo, fugo vits, fugo unga, fugo feed, fugo vit]
2                                                                                                                                                                                                                                                                                   [mukurwe-ini dairy]
3                                                                                                                                                                                                                                                                                           [xxxx, xxx]
4                                                                                                                                                                                                                                                                                                 [g&g]

In [15]:
df_unique_match = df_non_dup['match'].drop_duplicates(keep='first').to_frame().reset_index(drop=True)
df_unique_match = pd.concat([df_unique_match, df_similar_strings],axis = 1)
df_unique_match.head()

,match,similar_strings
0,"[local, localy, locals, locali, local., local,, locl, loca, loal, lcal]","[local, lcal, loal, locl, local,, localy, local manufacture, local supplier, local nairobi, local manufacturer, local artisan, local juakali, loca, locali, local providers, local seller, localy made, local., local industries, local manufactur, local any, local carpenters, locals, local ltd.]"
1,"[fugo, fungo, fuo, fug]","[fugo, fug, fugo company, fuo, fugo feeds, fugo ltd, fungo, fugo vits, fugo unga, fugo feed, fugo vit]"
2,[mukurwe-ini],[mukurwe-ini dairy]
3,"[xxxx, xxx]","[xxxx, xxx]"
4,[g&g],[g&g]

In [16]:
dnd_df_unique_match = df_unique_match.copy()

In [17]:
df_unique_match = dnd_df_unique_match.copy()
df_unique_match['average_length'] = df_unique_match['similar_strings'].apply(lambda x: round(sum(len(word.split()) for word in x) / len(x), 0))
df_unique_match.head()

,match,similar_strings,average_length
0,"[local, localy, locals, locali, local., local,, locl, loca, loal, lcal]","[local, lcal, loal, locl, local,, localy, local manufacture, local supplier, local nairobi, local manufacturer, local artisan, local juakali, loca, locali, local providers, local seller, localy made, local., local industries, local manufactur, local any, local carpenters, locals, local ltd.]",2.0
1,"[fugo, fungo, fuo, fug]","[fugo, fug, fugo company, fuo, fugo feeds, fugo ltd, fungo, fugo vits, fugo unga, fugo feed, fugo vit]",2.0
2,[mukurwe-ini],[mukurwe-ini dairy],2.0
3,"[xxxx, xxx]","[xxxx, xxx]",1.0
4,[g&g],[g&g],1.0

In [18]:
# df_unique_match['cluster_name'] = df_unique_match['similar_strings'].apply(lambda x: x[0])
# df_unique_match

In [19]:
for id, row in df_unique_match.iterrows():
    names = row['similar_strings']
    
    filtered_names = [item for item in names if item]
    counter = Counter(filtered_names)
    most_common_name = counter.most_common(1)[0][0]
    
    df_unique_match.at[id, 'common_name'] = most_common_name
    
df_unique_match.head()

,match,similar_strings,average_length,common_name
0,"[local, localy, locals, locali, local., local,, locl, loca, loal, lcal]","[local, lcal, loal, locl, local,, localy, local manufacture, local supplier, local nairobi, local manufacturer, local artisan, local juakali, loca, locali, local providers, local seller, localy made, local., local industries, local manufactur, local any, local carpenters, locals, local ltd.]",2.0,local
1,"[fugo, fungo, fuo, fug]","[fugo, fug, fugo company, fuo, fugo feeds, fugo ltd, fungo, fugo vits, fugo unga, fugo feed, fugo vit]",2.0,fugo
2,[mukurwe-ini],[mukurwe-ini dairy],2.0,mukurwe-ini dairy
3,"[xxxx, xxx]","[xxxx, xxx]",1.0,xxxx
4,[g&g],[g&g],1.0,g&g

In [20]:
# df_unique_match['similar_strings'] = df_unique_match['similar_strings'].apply(lambda x: ' '.join(x))

# # extracting most common words from each cluster in order
# cluster_word_freq = {}


# for id, row in df_unique_match.iterrows():
#     cluster = row['similar_strings']
    
#     words = re.split(r'\s+|-|\(|\)|/|\\|\||,', cluster)
#     for word in words:
#         if id in cluster_word_freq:
#             cluster_word_freq[id][word] = cluster_word_freq[id].get(word, 0) + 1
#         else:
#             cluster_word_freq[id] = {word: 1}
    
# for id in cluster_word_freq:
#     cluster_word_freq[id] = sorted(cluster_word_freq[id].items(), key=lambda x: x[1], reverse=True)
#     # cluster_word_freq[id] = list(cluster_word_freq[id].items())
#     # cluster_word_freq[id] = cluster_word_freq[id].items()

# cluster_word_freq_df = pd.DataFrame.from_dict(cluster_word_freq.items())
# cluster_word_freq_df.rename(columns={0: 'id', 1: 'word_freq'}, inplace=True)
# cluster_word_freq_df.head()

In [21]:
# # extracting most common words from each cluster in order
# cluster_word_freq = {}


# for id, row in df_unique_match.iterrows():
#     cluster = row['similar_strings']
    
#     words = re.split(r'\s+|-|\(|\)|/|\\|\||,', cluster)
#     for word in words:
#         if id in cluster_word_freq:
#             cluster_word_freq[id][word] = cluster_word_freq[id].get(word, 0) + 1
#         else:
#             cluster_word_freq[id] = {word: 1}
    
# for id in cluster_word_freq:
#     # cluster_word_freq[id] = sorted(cluster_word_freq[id].items(), key=lambda x: x[1], reverse=True)
#     cluster_word_freq[id] = list(cluster_word_freq[id].items())
#     # cluster_word_freq[id] = cluster_word_freq[id].items()

# cluster_word_freq_df = pd.DataFrame.from_dict(cluster_word_freq.items())
# cluster_word_freq_df.rename(columns={0: 'id', 1: 'word_freq'}, inplace=True)
# cluster_word_freq_df.head()

In [22]:
# cluster_word_freq_df = pd.concat([cluster_word_freq_df, df_unique_match[['average_length', 'common_name']]], axis=1)
# cluster_word_freq_df.head()

In [23]:
# dnd_cluster_word_freq_df = cluster_word_freq_df.copy()

In [24]:
# for i, row in cluster_word_freq_df.iterrows():
#     lst = row['word_freq']
#     number = int(row['average_length'])

#     cluster_name = ' '.join(word[0] for word in lst[:number])
#     cluster_word_freq_df.at[i, 'cluster_name'] = cluster_name
    
# cluster_word_freq_df.head()

In [25]:
df_unique_match.head()

,match,similar_strings,average_length,common_name
0,"[local, localy, locals, locali, local., local,, locl, loca, loal, lcal]","[local, lcal, loal, locl, local,, localy, local manufacture, local supplier, local nairobi, local manufacturer, local artisan, local juakali, loca, locali, local providers, local seller, localy made, local., local industries, local manufactur, local any, local carpenters, locals, local ltd.]",2.0,local
1,"[fugo, fungo, fuo, fug]","[fugo, fug, fugo company, fuo, fugo feeds, fugo ltd, fungo, fugo vits, fugo unga, fugo feed, fugo vit]",2.0,fugo
2,[mukurwe-ini],[mukurwe-ini dairy],2.0,mukurwe-ini dairy
3,"[xxxx, xxx]","[xxxx, xxx]",1.0,xxxx
4,[g&g],[g&g],1.0,g&g

In [26]:
# loading the master list
master_list_df = pd.read_csv('/home/natasha/Documents/Iprocure/Clustering-for-Product-Matching/data/data_v1/master_list.csv')
master_list_df.head()

,combined_name,product_name,manufacturer_name
0,aviboost aqua block; vital animal health,aviboost aqua block,vital animal health
1,aviboost cl-x blue; vital animal health,aviboost cl-x blue,vital animal health
2,aviboost nutri block; vital animal health,aviboost nutri block,vital animal health
3,aviboost spectrum; vital animal health,aviboost spectrum,vital animal health
4,aviboost poultry tonic; vital animal health,aviboost poultry tonic,vital animal health

In [27]:
df_unique_match['common_name'] = df_unique_match['common_name'].astype('str')
master_list_df['manufacturer_name'] = master_list_df['manufacturer_name'].astype('str')

In [28]:
matches_cache = {}
master_list = master_list_df['manufacturer_name'].to_list()

# def get_closest_match(word, possibilities: list[str]):
#     word = str(word).lower()
#     if found := matches_cache.get(word):
#         return found

#     matches = get_close_matches(word, possibilities, n=1, cutoff=0.0)
#     match = matches[0] if matches else ''
#     score = round(SequenceMatcher(None, word, match).ratio(), 2)
#     found = {'best_match': match, 'best_score': score}
#     matches_cache[word] = found

#     return found         # pd.Series([word, match, score], index = ['product_name', 'match', 'score'])

def get_closest_match(word, possibilities: list[str]):
    word = str(word).lower()
    if found := matches_cache.get(word):
        return found

    matches = [possibility for possibility in possibilities if fuzz.partial_ratio(word, possibility) > 0]
    match = max(matches, key=lambda x: fuzz.partial_ratio(word, x)) if matches else ''
    score = round(fuzz.partial_ratio(word, match), 2)
    found = {'best_match': match, 'best_score': score}
    matches_cache[word] = found

    return found

found_df = df_unique_match['common_name'].apply(lambda x: get_closest_match(x, master_list))

In [29]:
dnt_found_df = found_df.copy()

In [30]:
found_df = found_df.apply(pd.Series)
found_df.head()

,best_match,best_score
0,global nutrition solutions,80
1,elgon kenya ltd.,50
2,zagro-india,55
3,1. huvepharma-bulgaria 2. tianjin xinxing veterinary pharmaceuticals -china,50
4,export trading group,67

In [31]:
df_unique_match = pd.concat([df_unique_match, found_df], axis=1)
df_unique_match.head()

,match,similar_strings,average_length,common_name,best_match,best_score
0,"[local, localy, locals, locali, local., local,, locl, loca, loal, lcal]","[local, lcal, loal, locl, local,, localy, local manufacture, local supplier, local nairobi, local manufacturer, local artisan, local juakali, loca, locali, local providers, local seller, localy made, local., local industries, local manufactur, local any, local carpenters, locals, local ltd.]",2.0,local,global nutrition solutions,80
1,"[fugo, fungo, fuo, fug]","[fugo, fug, fugo company, fuo, fugo feeds, fugo ltd, fungo, fugo vits, fugo unga, fugo feed, fugo vit]",2.0,fugo,elgon kenya ltd.,50
2,[mukurwe-ini],[mukurwe-ini dairy],2.0,mukurwe-ini dairy,zagro-india,55
3,"[xxxx, xxx]","[xxxx, xxx]",1.0,xxxx,1. huvepharma-bulgaria 2. tianjin xinxing veterinary pharmaceuticals -china,50
4,[g&g],[g&g],1.0,g&g,export trading group,67

In [32]:
df_unique_match[(df_unique_match['best_score'] < 90) & (df_unique_match['best_score'] >= 85)][:50]

,match,similar_strings,average_length,common_name,best_match,best_score
29,"[intetchem, intechem, interchem]","[intetchem, intechem]",1.0,intetchem,interchemie werken ‘de adelaar’ b.v. holland,89
126,"[neo, neon, nemo]","[neo life, neo cell, nemo vets, neon]",2.0,neo life,neolife international ltd.,88
227,"[microp+, microp]","[microp+, microp yara]",2.0,microp+,cmi-cropcare (k) ltd.,86
278,"[jangara, sangara]","[jangara, sangara]",1.0,jangara,"veko care pvt. limited, mr. narayan undre, plot no. e-48&49, midc, ranjangaaon, district-pune, maharashtra, pin code: 412220. india",86
303,"[aishish, ashish, ashishi]","[aishish, ashish life, ashish company, ashishi, ashish, ashish ltd]",2.0,aishish,ashish life science pvt ltd.,86
311,"[sanofi, sanofil]","[sanofi pharmaceuticals, sanofi, sanofil, sanofi aventis, sanofi ltd]",2.0,sanofi pharmaceuticals,jiangsu ouke animal pharmaceuticals ltd china & sinochem ningbo ltd,86
313,"[laibota, laibuta, laibita]","[laibota, laibuta company, laibita ltd, laibuta ltd, laibuta, laibuta chem]",2.0,laibota,laibuta chemicals ltd.,86
330,"[india immunological, indian immunological, indian immunologicals]","[india immunological limited, indian immunologicals ltd, indian immunological ltd]",3.0,india immunological limited,"indian immunologicals ltd hyderabad, india",85
362,[hebei huaran],[hebei huaran pharmacy ltd],4.0,hebei huaran pharmacy ltd,"hebei hope harmony pharmaceutical co. ltd hebei huaran pharmacy co.ltd,china,hebei kexing pharmaceutical co. ltd-china",88
504,[envelope],[envelope],1.0,envelope,"1). chongqing fangtong animal pharmaceutical co.ltd, no.80, east part of changzhou road, rongchang, chongqing, china. (2). hebei bimeda pharmaceutical technology co. ltd, no 60 ganjiang road, shijiazhoung economic and technology development zone, china",88
512,"[shanghai gongyi, shanghai gonyi]","[shanghai gongyi ltd, shanghai gongyi pharma, shanghai gonyi ltd]",3.0,shanghai gongyi ltd,"shanghai gongyi veterinary medicines plant, no 298 huacheng east rd, fengxian county, shanghai, 201401, china.",89
617,"[raibuta, laibuta]",[raibuta],1.0,raibuta,laibuta chemicals ltd.,86
674,[anhui ningguo],[anhui ningguo chaonong chemical co.ltd],5.0,anhui ningguo chaonong chemical co.ltd,nd chemicals co. ltd,89
732,"[manufactured by, manufacturer by, manufactured by east]","[manufactured by nikko chemical industries, manufactured by soca animal feed, manufactured by ajabu animal feed, manufacturer by norbrook limited, manufactured by alfavet, manufactured by highchem limited, manufactured by coopers limited, manufactured by faida seed, manufactured by divma supplies, manufactured by east african seed co.ltd, manufactured by bubayi product, manufactured by vintage feed, manufactured by elgon limited, manufactured by socca animal feed, manufactured by iprocure limited]",4.0,manufactured by nikko chemical industries,"""manufacturer",85
758,[dupoint],[dupoint],1.0,dupoint,dupont de nemours kenya ltd.,86
768,"[truevets, truvets, truevet, tuvets, truvet]","[truevets, truvets algreen, tuvets ltd, truevet, truvet, tuvets, truvets chemicals, truvets, truvets ltd]",1.0,truevets,truvets techno-systems ltd.,88
772,"[ava, lava, java, cava, avas, avam]","[ava chem, java, ava chemicals, ava ltd, cava, ava, lava, avas, avam chem, lava chemicals]",2.0,ava chem,tata chemicals ltd.,88
773,"[agripack, agri pack, agripak, agripac, agripark, agri pac, afripack]","[agripack, agripark, agripack seed, agripack ltd., agri pac seeds, agripack seeds, agri pack seed, agri pack seeds, agripack company, agri pack campany, afripack ltd, agripak, agripac, agripack seef, agripack seeds., agripac ltd, agripack ltd, agripack limited]",2.0,agripack,agripac africa ltd.,88
803,"[ken, kenp, keng, kena, keen]","[ken agro, ken life, ken breed, keen feeders, ken crop, ken poly, kenp, ken, ken africa, keng, ken meat, ken plastic, keen pris, keen feeder, ken bird, ken chic, ken plastiics, ken chick, ken sam, ken afric]",2.0,ken agro,kenagro suppliers ltd.,88
829,"[centaur, contaur, ceuntar, century]","[centaur, centaur pharmaceuticals, century feeds, centaur pharm, centaur pharmaceutical, ceuntar pharms, contaur, century, century limited]",2.0,centaur,hebei new century pharmaceutical co. ltd- china,86
835,"[mordern, modern]",[mordern],1.0,mordern,modern ways ltd.,86
840,"[millirs, milliers, milirs, millers, miliers]","[millirs, miliers, milliers, millers, milirs]",1.0,millirs,bakex millers ltd.,86
850,"[coopers, cooppers, coopers., cooper's, cooper, cooers, scooper, koopers, coppers]","[coopers, coopers pharmaceuticals, coopers ltd, coppers, coopers., cooper, cooers, cooper's, cooppers, coopers limited, koopers, scooper]",1.0,coopers,cooper k-brands ltd.,86
863,[unicereal],[unicereal],1.0,unicereal,eabl,86
910,"[heramba, heranba, haramba]","[heramba, heranba, heranba industries, haramba industry, haramba]",1.0,heramba,heranba industries limited-india,86
950,[laborate],"[laborate, laborate ltd, laborate pharmaceuticals]",2.0,laborate,biodeal laboratories ltd.,88
957,"[vet, vetx, vets, vetb, veta]","[vet min, vet center, vetx, vetb, vet centrw, veta, vet plus, vets, vet star, vet viana, vet ccare, vet avian, vet centre, vet aviana, vet farm, vet &agronomi, vet site, vet power, vet supply, vet world, vet phos, vet pharm, vet, vet frontiers, vet care, vet pharma, vet bazaar, vet pro, vet lmt, vet sight, vet bazaaar, veta gro, vet agro]",2.0,vet min,golden harvest mills,86
962,[station],[station],1.0,station,"hydroliq animal registration staldenhof 17, 6014 luzern- switzerland",86
1005,"[agritech, agritechno, agrotech]","[agritech, agrotech ltd., agrotech]",1.0,agritech,purti agrotech ltd.,88
1136,"[evergro, evergrow]","[evergro, evergrow]",1.0,evergro,evergreen chemicals ltd.,86
1147,[bei],[bei poa],2.0,bei poa,"baoding jizhong biotechnology co. ltd.no.3715, south changcheng street, qingyuan district, baoding, hebei province, china",86
1179,"[uiri, ruiri]","[uiri, ruiri farmers]",2.0,uiri,bamburi,86
1182,"[farm, ufarm, frm, arm]","[farm fix, arm chemical, farm pride, farm guard, farm town, farm quard, farm feeds, farm star, farm best, farm solutions, farm feed, farm source, farm enterprises, farm produce, farm ltd, farm support, farm centre, farm center, farm, frm, arm, farm yard, farm yaed, farm lick, farm supply, farm bade, farm mark, farm care, farm access, farm base, farm shop, farm acess, farm gro, farm africa, farm track, ufarm]",2.0,farm fix,farmfix africa co. ltd.,88
1192,"[realipm, real ipm, realpm, real pm]","[realipm, realpm, realipm ltd, real pm co.ltd, real ipm ltd]",2.0,realipm,real ipm company (k) ltd.,86
1203,"[eco, heco, esco]","[eco feed, eco consumer, esco seed, heco, eco feeds, eco]",2.0,eco feed,ecofeed enterprises,88
1213,"[maulaida, maulaide, maulid]","[maulaida, maulid, maulaide healthcare, maulaide ltd, maulaide]",1.0,maulaida,maulaide healthcare ltd-kenya,88
1222,[rashnik],[rashnik],1.0,rashnik,niku,86
1252,"[basf, asf]","[basf se, basf, asf]",1.0,basf se,basf east africa ltd.,86
1295,[bookola],[bookola],1.0,bookola,""" manufacturer of the api-zhejiang xinnong chemical co.ltd, china formulator-norbook laboratories ltd, north ireland repackaging- norbrook kenya limited """,86
1320,[dogmeal],[dogmeal],1.0,dogmeal,eabl,86
1360,"[primier, priemier, premier]","[primier, premier saltlicks, premier ind., premier plastics, premier pressure, premier ltd, premier manufactrurer, primier licks, premier cosmetics, priemier ltd, premier licks, premier industry, premier seed, premier foods, premier, premier industries]",2.0,primier,"premier nutrition, uk devenish nutrition ltd, ireland",86
1392,"[farmark, fsrmark]","[farmark, farmark ltd, farmark suppliers, farmark agencies, farmark supplies, fsrmark]",2.0,farmark,unga farmcare (ea) ltd.,86
1409,"[corveta, coverta, corvera]","[corveta, coverta, corvera]",1.0,corveta,nerix pharma ltd for vetagro and pulpers co.ltd,86
1430,"[ipca, ipica]","[ipca lab, ipca labs, ipca laboratories, ipca, ipica]",2.0,ipca lab,"abic biological laboratories ltd, 3 hamelacha st.west, industrial zone, beit shemesh 99100, israel",88
1483,"[artetvet, artevet, artvet]","[artetvet, artevet co.ltd, artevet, artevet ltd]",2.0,artetvet,"artevet 1000n, west street,suite 1200,wilmington de 19801,usa",88
1486,"[anicorp, anicop, anicrop]","[anicorp, anicop ltd]",2.0,anicorp,marubeni corporation,86
1491,"[batachem, butachem, botachem, betachem]","[batachem, butachem, betachem, butachem ltd]",1.0,batachem,tata chemicals ltd.,88
1495,"[diva, divma, iva, dva]","[diva, divma supplies, dva]",1.0,diva,vetoquinol-india,86
1566,"[mossanto, mosanto, monsanto]","[mossanto, monsanto ltd, mosanto, monsanto]",1.0,mossanto,monsanto kenya ltd.,88
1567,"[advsnta, advanta]","[advsnta, advanta ltd, advanta seed, advanta seeds, advanta, advanta limited]",2.0,advsnta,advanta seed international,86

In [33]:
cluster_word_freq_df['chosen_match'] = np.where(cluster_word_freq_df['best_score'] >= 0.83, cluster_word_freq_df['best_match'], cluster_word_freq_df['common_name'])
cluster_word_freq_df.head()

,id,word_freq,average_length,common_name,cluster_name,best_match,best_score,chosen_match
0,0,"[(local, 15), (localy, 2), (lcal, 1), (loal, 1), (locl, 1), (, 1), (manufacture, 1), (supplier, 1), (nairobi, 1), (manufacturer, 1), (artisan, 1), (juakali, 1), (loca, 1), (locali, 1), (providers, 1), (seller, 1), (made, 1), (local., 1), (industries, 1), (manufactur, 1), (any, 1), (carpenters, 1), (locals, 1), (ltd., 1)]",2.0,local,local localy,chrysal africa ltd.,0.45,local
1,1,"[(fugo, 8), (fug, 1), (company, 1), (fuo, 1), (feeds, 1), (ltd, 1), (fungo, 1), (vits, 1), (unga, 1), (feed, 1), (vit, 1)]",2.0,fugo,fugo fug,nutreco africa,0.36,fugo
2,2,"[(mukurwe, 1), (ini, 1), (dairy, 1)]",2.0,mukurwe-ini dairy,mukurwe ini,iprocure limited,0.44,mukurwe-ini dairy
3,3,"[(xxxx, 1), (xxx, 1)]",1.0,xxxx,xxxx,apex,0.25,xxxx
4,4,"[(g&g, 1)]",1.0,g&g,g&g,hebei yuangzheng,0.21,g&g

In [34]:
df_unique_match.head()

,match,similar_strings,average_length,common_name
0,"[local, localy, locals, locali, local., local,, locl, loca, loal, lcal]","local lcal loal locl local, localy local manufacture local supplier local nairobi local manufacturer local artisan local juakali loca locali local providers local seller localy made local. local industries local manufactur local any local carpenters locals local ltd.",2.0,local
1,"[fugo, fungo, fuo, fug]",fugo fug fugo company fuo fugo feeds fugo ltd fungo fugo vits fugo unga fugo feed fugo vit,2.0,fugo
2,[mukurwe-ini],mukurwe-ini dairy,2.0,mukurwe-ini dairy
3,"[xxxx, xxx]",xxxx xxx,1.0,xxxx
4,[g&g],g&g,1.0,g&g

In [35]:
df_unique_match = pd.concat([df_unique_match[['match', 'similar_strings']], cluster_word_freq_df], axis=1)
# df_unique_match.drop(['id', 'best_match', 'best_score', 'average_length'], axis=1, inplace=True)
# df_unique_match.drop(['word_freq', 'match', 'average_length', 'cluster_name'], axis=1, inplace=True)
df_unique_match.head()

,match,similar_strings,average_length,common_name,id,word_freq,average_length,common_name,cluster_name,best_match,best_score,chosen_match
0,"[local, localy, locals, locali, local., local,, locl, loca, loal, lcal]","local lcal loal locl local, localy local manufacture local supplier local nairobi local manufacturer local artisan local juakali loca locali local providers local seller localy made local. local industries local manufactur local any local carpenters locals local ltd.",2.0,local,0,"[(local, 15), (localy, 2), (lcal, 1), (loal, 1), (locl, 1), (, 1), (manufacture, 1), (supplier, 1), (nairobi, 1), (manufacturer, 1), (artisan, 1), (juakali, 1), (loca, 1), (locali, 1), (providers, 1), (seller, 1), (made, 1), (local., 1), (industries, 1), (manufactur, 1), (any, 1), (carpenters, 1), (locals, 1), (ltd., 1)]",2.0,local,local localy,chrysal africa ltd.,0.45,local
1,"[fugo, fungo, fuo, fug]",fugo fug fugo company fuo fugo feeds fugo ltd fungo fugo vits fugo unga fugo feed fugo vit,2.0,fugo,1,"[(fugo, 8), (fug, 1), (company, 1), (fuo, 1), (feeds, 1), (ltd, 1), (fungo, 1), (vits, 1), (unga, 1), (feed, 1), (vit, 1)]",2.0,fugo,fugo fug,nutreco africa,0.36,fugo
2,[mukurwe-ini],mukurwe-ini dairy,2.0,mukurwe-ini dairy,2,"[(mukurwe, 1), (ini, 1), (dairy, 1)]",2.0,mukurwe-ini dairy,mukurwe ini,iprocure limited,0.44,mukurwe-ini dairy
3,"[xxxx, xxx]",xxxx xxx,1.0,xxxx,3,"[(xxxx, 1), (xxx, 1)]",1.0,xxxx,xxxx,apex,0.25,xxxx
4,[g&g],g&g,1.0,g&g,4,"[(g&g, 1)]",1.0,g&g,g&g,hebei yuangzheng,0.21,g&g

In [36]:
len(df_non_dup)

18619

In [37]:
dnddd_df_unique_match = df_unique_match.copy()
dnddd_df_non_dup = df_non_dup.copy()

In [38]:
df_unique_match = dnddd_df_unique_match.copy()
df_non_dup = dnddd_df_non_dup.copy()

In [39]:
df_unique_match.columns

Index(['match', 'similar_strings', 'average_length', 'common_name', 'id',
       'word_freq', 'average_length', 'common_name', 'cluster_name',
       'best_match', 'best_score', 'chosen_match'],
      dtype='object')

In [40]:
df_unique_match['match'] = df_unique_match['match'].apply(lambda x: ' '.join(x))
df_non_dup['match'] = df_non_dup['match'].apply(lambda x: ' '.join(x))

In [41]:
df_non_dup = df_non_dup.merge(df_unique_match, how='left', on='match')
df_non_dup.head()

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,word_count,manufacturer_slice,match,similar_strings,average_length,common_name,id,word_freq,average_length,common_name,cluster_name,best_match,best_score,chosen_match
0,local,oic ltd,0.15,1,local,"local localy locals locali local. local, locl loca loal lcal","local lcal loal locl local, localy local manufacture local supplier local nairobi local manufacturer local artisan local juakali loca locali local providers local seller localy made local. local industries local manufactur local any local carpenters locals local ltd.",2.0,local,0,"[(local, 15), (localy, 2), (lcal, 1), (loal, 1), (locl, 1), (, 1), (manufacture, 1), (supplier, 1), (nairobi, 1), (manufacturer, 1), (artisan, 1), (juakali, 1), (loca, 1), (locali, 1), (providers, 1), (seller, 1), (made, 1), (local., 1), (industries, 1), (manufactur, 1), (any, 1), (carpenters, 1), (locals, 1), (ltd., 1)]",2.0,local,local localy,chrysal africa ltd.,0.45,local
1,fugo,pz cussons,0.27,1,fugo,fugo fungo fuo fug,fugo fug fugo company fuo fugo feeds fugo ltd fungo fugo vits fugo unga fugo feed fugo vit,2.0,fugo,1,"[(fugo, 8), (fug, 1), (company, 1), (fuo, 1), (feeds, 1), (ltd, 1), (fungo, 1), (vits, 1), (unga, 1), (feed, 1), (vit, 1)]",2.0,fugo,fugo fug,nutreco africa,0.36,fugo
2,mukurwe-ini dairy,zagro-india,0.41,2,mukurwe-ini,mukurwe-ini,mukurwe-ini dairy,2.0,mukurwe-ini dairy,2,"[(mukurwe, 1), (ini, 1), (dairy, 1)]",2.0,mukurwe-ini dairy,mukurwe ini,iprocure limited,0.44,mukurwe-ini dairy
3,xxxx,apex,0.22,1,xxxx,xxxx xxx,xxxx xxx,1.0,xxxx,3,"[(xxxx, 1), (xxx, 1)]",1.0,xxxx,xxxx,apex,0.25,xxxx
4,g&g,hebei yuangzheng,0.20,1,g&g,g&g,g&g,1.0,g&g,4,"[(g&g, 1)]",1.0,g&g,g&g,hebei yuangzheng,0.21,g&g

In [42]:
# cleanup function
def compare(row):
    comparison = {}
    i = row['manufacturer_name']
    prods_list = row[['chosen_match', 'best_manufacturer_match']].tolist()
    if isinstance(i, str):
       comparison.update({i: get_close_matches(i, prods_list, n=1, cutoff=0.1)})
    product_name = list(comparison.keys()) if comparison else None
    match = []
    score = []
    if comparison:
       for key, value in comparison.items():
           if value:
              match.append(value[0])
              score.append(round(SequenceMatcher(None, i, value[0]).ratio(), 2))
           else:
              match.append(None)
              score.append(None)
    else:
       match.append(None)
       score.append(None)
              
    return pd.Series([match, score], index = ['match', 'score'])

In [43]:
def convert_to_string(value):
    return str(value)

columns_to_convert = ['manufacturer_name', 'chosen_match', 'best_manufacturer_match']
df_non_dup[columns_to_convert] = df_non_dup[columns_to_convert].applymap(convert_to_string)

In [45]:
for i in tqdm(range(10), desc="Processing", ncols=80, bar_format="{l_bar}{bar}| {n_fmt}/{total_fmt}"):
    df_non_dup[['final_match', 'score']] = df_non_dup.apply(lambda row: compare(row), axis=1)
    df_non_dup.head()

Processing: 100%|████████████████████████████████████████████████████████| 10/10

In [46]:
df_non_dup['final_match'] = df_non_dup['final_match'].apply(lambda x: ' '.join(x))
df_non_dup['score'] = df_non_dup['score'].apply(lambda x: x[0])

df_non_dup.head()

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,word_count,manufacturer_slice,match,similar_strings,average_length,common_name,id,word_freq,average_length,common_name,cluster_name,best_match,best_score,chosen_match,final_match,score
0,local,oic ltd,0.15,1,local,"local localy locals locali local. local, locl loca loal lcal","local lcal loal locl local, localy local manufacture local supplier local nairobi local manufacturer local artisan local juakali loca locali local providers local seller localy made local. local industries local manufactur local any local carpenters locals local ltd.",2.0,local,0,"[(local, 15), (localy, 2), (lcal, 1), (loal, 1), (locl, 1), (, 1), (manufacture, 1), (supplier, 1), (nairobi, 1), (manufacturer, 1), (artisan, 1), (juakali, 1), (loca, 1), (locali, 1), (providers, 1), (seller, 1), (made, 1), (local., 1), (industries, 1), (manufactur, 1), (any, 1), (carpenters, 1), (locals, 1), (ltd., 1)]",2.0,local,local localy,chrysal africa ltd.,0.45,local,local,1.0
1,fugo,pz cussons,0.27,1,fugo,fugo fungo fuo fug,fugo fug fugo company fuo fugo feeds fugo ltd fungo fugo vits fugo unga fugo feed fugo vit,2.0,fugo,1,"[(fugo, 8), (fug, 1), (company, 1), (fuo, 1), (feeds, 1), (ltd, 1), (fungo, 1), (vits, 1), (unga, 1), (feed, 1), (vit, 1)]",2.0,fugo,fugo fug,nutreco africa,0.36,fugo,fugo,1.0
2,mukurwe-ini dairy,zagro-india,0.41,2,mukurwe-ini,mukurwe-ini,mukurwe-ini dairy,2.0,mukurwe-ini dairy,2,"[(mukurwe, 1), (ini, 1), (dairy, 1)]",2.0,mukurwe-ini dairy,mukurwe ini,iprocure limited,0.44,mukurwe-ini dairy,mukurwe-ini dairy,1.0
3,xxxx,apex,0.22,1,xxxx,xxxx xxx,xxxx xxx,1.0,xxxx,3,"[(xxxx, 1), (xxx, 1)]",1.0,xxxx,xxxx,apex,0.25,xxxx,xxxx,1.0
4,g&g,hebei yuangzheng,0.20,1,g&g,g&g,g&g,1.0,g&g,4,"[(g&g, 1)]",1.0,g&g,g&g,hebei yuangzheng,0.21,g&g,g&g,1.0

In [47]:
df_non_dup['go_to_match'] = np.where(df_non_dup['score'] >= 0.79, df_non_dup['final_match'], df_non_dup['chosen_match'])
df_non_dup.head()

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,word_count,manufacturer_slice,match,similar_strings,average_length,common_name,id,word_freq,average_length,common_name,cluster_name,best_match,best_score,chosen_match,final_match,score,go_to_match
0,local,oic ltd,0.15,1,local,"local localy locals locali local. local, locl loca loal lcal","local lcal loal locl local, localy local manufacture local supplier local nairobi local manufacturer local artisan local juakali loca locali local providers local seller localy made local. local industries local manufactur local any local carpenters locals local ltd.",2.0,local,0,"[(local, 15), (localy, 2), (lcal, 1), (loal, 1), (locl, 1), (, 1), (manufacture, 1), (supplier, 1), (nairobi, 1), (manufacturer, 1), (artisan, 1), (juakali, 1), (loca, 1), (locali, 1), (providers, 1), (seller, 1), (made, 1), (local., 1), (industries, 1), (manufactur, 1), (any, 1), (carpenters, 1), (locals, 1), (ltd., 1)]",2.0,local,local localy,chrysal africa ltd.,0.45,local,local,1.0,local
1,fugo,pz cussons,0.27,1,fugo,fugo fungo fuo fug,fugo fug fugo company fuo fugo feeds fugo ltd fungo fugo vits fugo unga fugo feed fugo vit,2.0,fugo,1,"[(fugo, 8), (fug, 1), (company, 1), (fuo, 1), (feeds, 1), (ltd, 1), (fungo, 1), (vits, 1), (unga, 1), (feed, 1), (vit, 1)]",2.0,fugo,fugo fug,nutreco africa,0.36,fugo,fugo,1.0,fugo
2,mukurwe-ini dairy,zagro-india,0.41,2,mukurwe-ini,mukurwe-ini,mukurwe-ini dairy,2.0,mukurwe-ini dairy,2,"[(mukurwe, 1), (ini, 1), (dairy, 1)]",2.0,mukurwe-ini dairy,mukurwe ini,iprocure limited,0.44,mukurwe-ini dairy,mukurwe-ini dairy,1.0,mukurwe-ini dairy
3,xxxx,apex,0.22,1,xxxx,xxxx xxx,xxxx xxx,1.0,xxxx,3,"[(xxxx, 1), (xxx, 1)]",1.0,xxxx,xxxx,apex,0.25,xxxx,xxxx,1.0,xxxx
4,g&g,hebei yuangzheng,0.20,1,g&g,g&g,g&g,1.0,g&g,4,"[(g&g, 1)]",1.0,g&g,g&g,hebei yuangzheng,0.21,g&g,g&g,1.0,g&g

In [48]:
df_non_dup[df_non_dup['score'] < 0.8]

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,word_count,manufacturer_slice,match,similar_strings,average_length,common_name,id,word_freq,average_length,common_name,cluster_name,best_match,best_score,chosen_match,final_match,score,go_to_match
142,baoding sunlight herb medicament co,shandong xiangrui pharmaceutical co. ltd,0.39,5,baoding sunlight,baoding sunlight boading sunlight boarding sunlight boading sunliht baoding sunlight herb,"baoding sunlight herb baoding sunlight herb medicament co boading sunlight herb boading sunliht herb medicament co.,ltd boading sunlight herb medicament co.ltd boarding sunlight herd baoding sunlight herb medicament co.ltd baoding sunlight herb medicament co ltd. baoding sunlight herb medicament co. ltd boading sunlight co ltd baoding sunlight herb medication co ltd boading sunlight herb medlcament co,ltd boarding sunlight herb baoding sunlight herb medicament ltd boading sunlight herb medicament ltd. baoding sunlight herb medcament co ltd boading sunlight herb mgt boading sunlight herb medicament baoding sunlight herb medicament",5.0,baoding sunlight herb,51,"[(sunlight, 18), (herb, 17), (medicament, 10), (baoding, 9), (boading, 8), (ltd, 7), (co, 6), (co., 2), (co.ltd, 2), (boarding, 2), (ltd., 2), (sunliht, 1), (herd, 1), (medication, 1), (medlcament, 1), (medcament, 1), (mgt, 1)]",5.0,baoding sunlight herb,sunlight herb medicament baoding boading,hebei yuangzheng & baoding jizhong,0.51,baoding sunlight herb,baoding sunlight herb,0.75,baoding sunlight herb
335,osho ferrox,fanisi fertilizer,0.41,2,osho,osho,osho osho ferrox osho industry osho ltd osho limited osho company osho chemical osho chemicals osho chemical.,2.0,osho,7,"[(osho, 9), (ferrox, 1), (industry, 1), (ltd, 1), (limited, 1), (company, 1), (chemical, 1), (chemicals, 1), (chemical., 1)]",2.0,osho,osho ferrox,fanisi fertilizer,0.43,osho,osho,0.53,osho
380,hollarnd,solagro kenya ltd.,0.30,1,hollarnd,holland hollarnd hollan holand polland hollond hollard,holland minerals hollarnd holland lndustry holand zaden holland ltd holland indus. holland supplement holland industry holland ltd hollan hollard hollond holland holand polland holland industries hollard industries,2.0,holland minerals,243,"[(holland, 9), (holand, 2), (ltd, 2), (hollard, 2), (industries, 2), (minerals, 1), (hollarnd, 1), (lndustry, 1), (zaden, 1), (indus., 1), (supplement, 1), (industry, 1), (hollan, 1), (hollond, 1), (polland, 1)]",2.0,holland minerals,holland holand,bidco land o'lakes,0.56,holland minerals,holland minerals,0.58,holland minerals
391,mavuno bora,miavit gmbh-germany,0.19,2,mavuno,mavuno,mavuno mavuno bora mavuno smart mavuno company mavuno feeds,2.0,mavuno,26,"[(mavuno, 5), (bora, 1), (smart, 1), (company, 1), (feeds, 1)]",2.0,mavuno,mavuno bora,miavit gmbh-germany,0.20,mavuno,mavuno,0.71,mavuno
533,flat 1.5×1.2mm,farmate ltd.,0.37,2,flat,flat,flat 3/4×1.2mm flat 1.5×1.2mm flat plastic flat iron,2.0,flat 3/4×1.2mm,400,"[(flat, 4), (3, 1), (4×1.2mm, 1), (1.5×1.2mm, 1), (plastic, 1), (iron, 1)]",2.0,flat 3/4×1.2mm,flat 3,farmate ltd.,0.44,flat 3/4×1.2mm,flat 3/4×1.2mm,0.79,flat 3/4×1.2mm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18604,umoja ltd,mea ltd.,0.67,2,umoja,umoja,umoja umoja sons umoja ltd,2.0,umoja,4893,"[(umoja, 3), (sons, 1), (ltd, 1)]",2.0,umoja,umoja sons,pz cussons,0.50,umoja,umoja,0.71,umoja
18607,bellachem limited,glumar chemicals limited,0.67,2,bellachem,bell chem bellachem bell chemcal,bell chem africa ltd bellachem bellachem ltd. bellachem ltd bellachem limited,2.0,bell chem africa ltd,5481,"[(bellachem, 4), (ltd, 2), (bell, 1), (chem, 1), (africa, 1), (ltd., 1), (limited, 1)]",2.0,bell chem africa ltd,bellachem ltd,farmchem ltd.,0.69,bell chem africa ltd,glumar chemicals limited,0.68,bell chem africa ltd
18611,vital crop ltd,vetagro ltd.,0.67,3,vital crop,vital crop,vital crop science vital crop science inc vital crop ltd,3.0,vital crop science,4458,"[(vital, 3), (crop, 3), (science, 2), (inc, 1), (ltd, 1)]",3.0,vital crop science,vital crop science,stenna crop science ltd.,0.71,vital crop science,vetagro ltd.,0.69,vital crop science
18612,gloria ltd,oic ltd,0.67,2,gloria,lagloria gloria,lagloria gloria ltd,2.0,lagloria,1753,"[(lagloria, 1), (gloria, 1), (ltd, 1)]",2.0,lagloria,lagloria gloria,agripac africa ltd.,0.41,lagloria,oic ltd,0.71,lagloria
18614,henkel ltd,rentokil ltd.,0.67,2,henkel,henke shenke henkel,henke jet henkel kenya shenke ltd henke shenke henkel ag henkel henkel ltd,2.0,henke jet,1204,"[(henkel, 4), (henke, 2), (shenke, 2), (ltd, 2), (jet, 1), (kenya, 1), (ag, 1)]",2.0,henke jet,henkel henke,evonik germany,0.38,henke jet,henke jet,0.74,henke jet

In [62]:
df_manufacturer

,manufacturer_name,best_manufacturer_match,manufacturer_match_score
5,local,oic ltd,0.15
16,fugo,pz cussons,0.27
22,local,oic ltd,0.15
31,mukurwe-ini dairy,zagro-india,0.41
33,xxxx,apex,0.22
...,...,...,...
25782,jojemi agri ventures ltd.,afri ventures,0.67
25783,triachem tanzania ltd,agrichem africa ltd.,0.67
25784,tags limted,chiapas limited,0.67
25785,regal pharmaceutical,hebei yuanzheng pharmaceutical,0.67
25786,optighem ltd,soprochem ltd.,0.67

In [63]:
df_manufacturer = pd.merge(df_manufacturer, df_non_dup[['manufacturer_name', 'go_to_match']], how='left',on='manufacturer_name')
df_manufacturer.head()

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,go_to_match
0,local,oic ltd,0.15,local localy
1,fugo,pz cussons,0.27,fugo fug
2,local,oic ltd,0.15,local localy
3,mukurwe-ini dairy,zagro-india,0.41,mukurwe ini
4,xxxx,apex,0.22,xxxx

In [64]:
df_manufacturer[:50]

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,go_to_match
0,local,oic ltd,0.15,local localy
1,fugo,pz cussons,0.27,fugo fug
2,local,oic ltd,0.15,local localy
3,mukurwe-ini dairy,zagro-india,0.41,mukurwe ini
4,xxxx,apex,0.22,xxxx
5,g&g,hebei yuangzheng,0.20,g&g
6,rainbow,rainbow agro sciences ltd.,0.41,rainbow agro
7,ttt,aesthetics ltd.,0.32,ttt
8,osho,basco,0.20,osho ferrox
9,chloride exide,chemline africa ltd.,0.34,chloride exide
10,bovtans general merchants,geneva agrochemicals ltd.,0.39,general bovtans merchants
11,ruiru,niku,0.20,ruiru ltd
12,*,"zzagro vietnam co.,ltd-vietnam",0.00,*
13,hcx,apex,0.25,hcx
14,ggg,prestige packaging ltd.,0.22,ggg
15,g.i,zagro-india,0.27,g.i
16,c&g,lucky,0.22,c&g
17,joj,tembo,0.22,joj
18,concept,rockem ltd.,0.32,concept concepts
19,0,"virbrac,1ere avenue,2065 m-lid,06510,carros france",0.04,0
20,dbn,biomune usa,0.27,dbn
21,boresha bakers,soilcares africa,0.39,boresha bakers
22,loxal,eabl,0.20,loxal
23,dghh,edge chemicals ltd.,0.25,dghh
24,befa,eabl,0.22,befa bea
25,k+s,niku,0.25,k+s
26,interchemie,iprocure limited,0.21,interchemie werken
27,mavuno,marubeni corporation,0.37,mavuno bora
28,fino- ject,rhino seeds africa ltd.,0.41,fino ject
29,doctor,oic ltd,0.14,doctor pharm
30,intetchem,tata chemicals ltd.,0.41,intetchem
31,gofa,agro-farmer (k) ltd.,0.32,gofa ltd
32,ruiru,niku,0.20,ruiru ltd
33,borabora,bamburi,0.25,bora ltd borabora
34,"yog/ness,rhino","bedson s.a., argentina",0.27,yog
35,technical assistance for vetinary nutrionists,shanghai gongyi veterinary medicines plant,0.39,technical assistance for vetinary nutrionists
36,g,sanergy,0.22,g ltd
37,osho,basco,0.20,osho ferrox
38,bajaj boxer,ajay biotech ltd-india,0.41,bajaj boxer
39,fugo,pz cussons,0.27,fugo fug
40,new down town,organix ltd.,0.23,new down town
41,ningbo sunjoy,"nanjing red sun co.limited,china",0.39,ningbo sunjoy
42,narl kawanda,nafuu hardware,0.37,narl kawanda
43,vhc,viva healthcare ltd.,0.25,vhc
44,hetco/yog/class one,agrichem & tools ltd.,0.39,hetco yog
45,globe,gas labs ltd.,0.32,globe ltd
46,"yog,pd,rhino,cr,ramg,royal,",prime care agro ea ltd,0.20,yog
47,fbd,bimeda ltd.,0.27,fbd
48,william grants & sons lts,gordhandas dharamshi & bros. ltd.,0.34,william & sons grants
49,splash,polypipes,0.12,splash

In [66]:
df_man = df_man.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x)
df_man

,manufacturer_name,best_manufacturer_match,manufacturer_match_score
0,highchem essentials ltd.,highchem essentials ltd.,0.98
1,bimeda ltd.,bimeda ltd.,0.96
2,simlaw seeds company ltd.,simlaw seeds company ltd.,0.98
3,ultravetis east africa ltd.,ultravetis east africa ltd.,0.98
4,cooper k-brands ltd.,cooper k-brands ltd.,0.98
...,...,...,...
25782,jojemi agri ventures ltd.,afri ventures,0.67
25783,triachem tanzania ltd,agrichem africa ltd.,0.67
25784,tags limted,chiapas limited,0.67
25785,regal pharmaceutical,hebei yuanzheng pharmaceutical,0.67
25786,optighem ltd,soprochem ltd.,0.67

In [67]:
dnd_df_man = df_man.copy()

In [68]:
df_man = pd.merge(df_man, df_manufacturer[['manufacturer_name', 'go_to_match']], how='left',on='manufacturer_name')
df_man

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,go_to_match
0,highchem essentials ltd.,highchem essentials ltd.,0.98,NaN
1,bimeda ltd.,bimeda ltd.,0.96,NaN
2,simlaw seeds company ltd.,simlaw seeds company ltd.,0.98,NaN
3,ultravetis east africa ltd.,ultravetis east africa ltd.,0.98,NaN
4,cooper k-brands ltd.,cooper k-brands ltd.,0.98,NaN
...,...,...,...,...
40092,tags limted,chiapas limited,0.67,tags limted
40093,regal pharmaceutical,hebei yuanzheng pharmaceutical,0.67,regal real
40094,regal pharmaceutical,hebei yuanzheng pharmaceutical,0.67,regal real
40095,regal pharmaceutical,hebei yuanzheng pharmaceutical,0.67,regal real
40096,optighem ltd,soprochem ltd.,0.67,optighem ltd

In [69]:
df_man['go_to_match'] = np.where(df_man['go_to_match'].isna(), df_man['best_manufacturer_match'], df_man['go_to_match'])
df_man

,manufacturer_name,best_manufacturer_match,manufacturer_match_score,go_to_match
0,highchem essentials ltd.,highchem essentials ltd.,0.98,highchem essentials ltd.
1,bimeda ltd.,bimeda ltd.,0.96,bimeda ltd.
2,simlaw seeds company ltd.,simlaw seeds company ltd.,0.98,simlaw seeds company ltd.
3,ultravetis east africa ltd.,ultravetis east africa ltd.,0.98,ultravetis east africa ltd.
4,cooper k-brands ltd.,cooper k-brands ltd.,0.98,cooper k-brands ltd.
...,...,...,...,...
40092,tags limted,chiapas limited,0.67,tags limted
40093,regal pharmaceutical,hebei yuanzheng pharmaceutical,0.67,regal real
40094,regal pharmaceutical,hebei yuanzheng pharmaceutical,0.67,regal real
40095,regal pharmaceutical,hebei yuanzheng pharmaceutical,0.67,regal real
40096,optighem ltd,soprochem ltd.,0.67,optighem ltd

In [71]:
df_man = df_man[['manufacturer_name', 'go_to_match']]
df_man = df_man.drop_duplicates(subset=['manufacturer_name'], keep='first')
len(df_man)

20051

In [72]:
df_man.to_csv('final_clustered_manufacturers.csv', index = False)

In [73]:
df_man.isna().sum()

manufacturer_name    1
go_to_match          1
dtype: int64