In [1]:
import pandas as pd
import numpy as np
import re
from difflib import SequenceMatcher, get_close_matches
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

import warnings
warnings.filterwarnings("ignore")

In [3]:
# loading the product list
iprocure_prods_df = pd.read_excel('/home/natasha/Documents/Iprocure/Clustering-for-Product-Matching/data/data_v2/product_list.xlsx')
cols = ['Product Name', 'Type']
iprocure_prods_df = iprocure_prods_df[cols]

# dropping product_name duplicates
iprocure_prods_df = iprocure_prods_df.drop_duplicates(keep='first').reset_index(drop=True)

pd.set_option('display.max_columns',None)
iprocure_prods_df.head()

           Product Name   Type
0   Aviboost Aqua Block    1kg
1    Aviboost CL-X Blue    1lt
2    Aviboost CL-X Blue  100ml
3  Aviboost Nutri Block    1kg
4     Aviboost Spectrum    1lt

In [4]:
iprocure_prods_df.isna().sum()

Product Name    0
Type            0
dtype: int64

In [5]:
product_type_df = pd.read_csv('/home/natasha/Documents/Iprocure/Clustering-for-Product-Matching/data/data_v2/dirty_product_types.csv')
product_type_df.head()

  correct_product_match product_type
0       pantoxy 20℅ 10%       250mls
1            pharmguard           5g
2            tabs cream       copies
3      uwezo dairy meal       copies
4             cargo box        3 way

In [6]:
# to lowercase
iprocure_prods_df[['Product Name', 'Type']] = iprocure_prods_df[['Product Name', 'Type']].applymap(lambda x: str(x).lower().strip())
product_type_df[['correct_product_match', 'product_type']] = product_type_df[['correct_product_match', 'product_type']].applymap(lambda x: str(x).lower().strip())

In [9]:
iprocure_prods_df.rename(columns={'Product Name': 'product_name'}, inplace=True)
product_type_df.rename(columns={'correct_product_match': 'product_name'}, inplace=True)
# product_type_df = product_type_df.merge(iprocure_prods_df, on='product_name', how='left')

In [10]:
product_type_df.shape

(3115105, 2)

In [11]:
product_type_df = product_type_df.drop_duplicates(subset=['product_name', 'product_type'], keep='first').reset_index(drop=True)
product_type_df.head()

       product_name product_type
0   pantoxy 20℅ 10%       250mls
1        pharmguard           5g
2        tabs cream       copies
3  uwezo dairy meal       copies
4         cargo box        3 way

In [12]:
product_type_df.shape

(99983, 2)

In [13]:
product_type_df.isna().sum()

product_name    0
product_type    0
dtype: int64

In [14]:
# Function to extract the number and unit parts
def extract_parts(value):
    # pattern = r'(\d+(?:\.\d+)?|½|¼|¾|[1-9][0-9]*(?:\/[1-9][0-9]*)?)(\D+)'
    pattern = r'(\d+(?:\.\d+)?|½|¼|¾|\d+\/\d+)(\s*[a-zA-Z]+)'
    matches = re.match(pattern, value)

    if matches:
        digits_part = matches.group(1)
        letters_part = matches.group(2)
        return digits_part, letters_part.strip()
    else:
        return value, value

# Apply the function to the column and create new columns
product_type_df[['number', 'unit']] = product_type_df['product_type'].apply(lambda x: pd.Series(extract_parts(str(x))))
iprocure_prods_df[['number', 'unit']] = iprocure_prods_df['Type'].apply(lambda x: pd.Series(extract_parts(str(x))))

# Print the updated DataFrame
display(product_type_df.head())
display(iprocure_prods_df.head())

       product_name product_type  number    unit
0   pantoxy 20℅ 10%       250mls     250     mls
1        pharmguard           5g       5       g
2        tabs cream       copies  copies  copies
3  uwezo dairy meal       copies  copies  copies
4         cargo box        3 way       3     way

           product_name   Type number unit
0   aviboost aqua block    1kg      1   kg
1    aviboost cl-x blue    1lt      1   lt
2    aviboost cl-x blue  100ml    100   ml
3  aviboost nutri block    1kg      1   kg
4     aviboost spectrum    1lt      1   lt

In [12]:
# cleaning category column
units = iprocure_prods_df['unit'].unique().tolist()

# wrong_units_df = product_type_df[~product_type_df['product_type'].isin(types)]
units_df = product_type_df['unit'].drop_duplicates(keep='first').reset_index(drop=True).to_frame()

# cleanup function
def compare(i):
    comparison = {}
    if isinstance(i, str):
       comparison.update({i: get_close_matches(i, units, n=1, cutoff=0.1)})
    unit = list(comparison.keys()) if comparison else None
    match = []
    score = []
    if comparison:
       for key, value in comparison.items():
           if value:
              match.append(value[0])
              score.append(round(SequenceMatcher(None, i, value[0]).ratio(), 2))
           else:
              match.append(None)
              score.append(None)
    else:
       match.append(None)
       score.append(None)

    return pd.Series([unit, match, score], index = ['type', 'match', 'score'])

cleaned_types_df = pd.DataFrame()
cleaned_types_df[['unit', 'match', 'score']] = units_df['unit'].apply(lambda x: compare(x))
cleaned_types_df = cleaned_types_df.applymap(lambda x: x[0] if x else '')
cleaned_types_df.head()

     unit match  score
0     mls    ml   0.80
1       g     g   1.00
2  copies  pess   0.60
3     way  pair   0.29
4      ml    ml   1.00

In [31]:
# cleaned_types_df[(cleaned_types_df['score'] >= 0.67) & (cleaned_types_df['score'] < 0.7)][:50]

In [32]:
units_df.shape

(5902, 1)

In [33]:
to_cluster_df = cleaned_types_df[cleaned_types_df['score'] < 0.65]
to_cluster_df.head()

              unit   match  score
2           copies    pess   0.60
3              way    pair   0.29
7         assorted   seeds   0.46
9             tabs  tablet   0.60
10  assorted (3gm)   seeds   0.32

In [34]:
matched = []
def compare(i):
    compare = {}
    if i in matched:
        compare.update({i: ''})
    else:
        compare.update({i: get_close_matches(i, to_cluster_df['unit'].to_list(), 20, 0.7)})
    # matched.extend(compare.values())
    matched.extend([item for sublist in compare.values() for item in sublist])
    manufacturer_slice = list(compare.keys())
    match = []
    for key, items in compare.items():
      match.append(items)
    return pd.Series([manufacturer_slice, match],index=['manufacturer_slice', 'match'])


cleaned__df = pd.DataFrame()
cleaned__df[['unit', 'match']] = to_cluster_df['unit'].apply(lambda x: compare(x))
cleaned__df = cleaned__df.applymap(lambda x: x[0] if x else '')
cleaned__df.head()

              unit                                              match
2           copies                                           [copies]
3              way                           [way, ways, waya, 4-way]
7         assorted  [assorted, assoerted, asorted, asdorted, arsor...
9             tabs  [tabs, tabs., tas, tsbs, tqbs, tbts, tans, tab...
10  assorted (3gm)

In [35]:
pd.set_option('display.max_colwidth', None)
cleaned__df.reset_index(drop=True, inplace=True)
cleaned__df

,unit,match
0,copies,[copies]
1,way,"[way, ways, waya, 4-way]"
2,assorted,"[assorted, assoerted, asorted, asdorted, arsorted, asoterd, asstd, assrt, assorted 6pcs, seeds assorted, assorted (3gm), asotwd]"
3,tabs,"[tabs, tabs., tas, tsbs, tqbs, tbts, tans, tabd, taba, tabs bp, tabs 2', tab 24s]"
4,assorted (3gm),
...,...,...
4995,green 20litres,
4996,helper main fsr,"[helper main fsr, helper main frr, helper 2nd frr]"
4997,2654403,[2654403]
4998,3/4* 60fts,
4999,b112p,

In [36]:
cleaned__df['unit'] = cleaned__df['unit'].astype('str')
for i, row in cleaned__df.iterrows():
    string = row['unit']
    lst = row['match']

    # Check if the string exists in any list of previous rows
    if not lst:
        for prev_i in range(i):
            prev_lst = cleaned__df.at[prev_i, 'match']
            if string in prev_lst:
                cleaned__df.at[i, 'match'] = prev_lst
                break  # Stop searching after finding the first match

# Reset the index of the DataFrame
# cleaned_manufacturers_df_subset = cleaned_manufacturers_df_subset.reset_index(drop=True)

pd.set_option('display.max_colwidth', None)
cleaned__df

,unit,match
0,copies,[copies]
1,way,"[way, ways, waya, 4-way]"
2,assorted,"[assorted, assoerted, asorted, asdorted, arsorted, asoterd, asstd, assrt, assorted 6pcs, seeds assorted, assorted (3gm), asotwd]"
3,tabs,"[tabs, tabs., tas, tsbs, tqbs, tbts, tans, tabd, taba, tabs bp, tabs 2', tab 24s]"
4,assorted (3gm),"[assorted, assoerted, asorted, asdorted, arsorted, asoterd, asstd, assrt, assorted 6pcs, seeds assorted, assorted (3gm), asotwd]"
...,...,...
4995,green 20litres,"[green 10litres, green 20litres, ripple green 1litre]"
4996,helper main fsr,"[helper main fsr, helper main frr, helper 2nd frr]"
4997,2654403,[2654403]
4998,3/4* 60fts,"[3/4*60, 3/4""*60, 3/4*20, 3/4""*60ft, 3/4* 60fts, 3/4-60ft, 3/4 60ft]"
4999,b112p,"[b12, 12, b112p]"

In [37]:
cleaned__df['match_concat'] = cleaned__df['match'].apply(lambda x:' '.join(x))
# cleaned__df['match_split'] = cleaned__df['match_concat'].str.split()
cleaned__df['match_split'] = cleaned__df['match_concat'].apply(lambda x: re.split(r'\s+|-|\(|\)|/|\\|\||,', x))

cleaned__df

,unit,match,match_concat,match_split
0,copies,[copies],copies,[copies]
1,way,"[way, ways, waya, 4-way]",way ways waya 4-way,"[way, ways, waya, 4, way]"
2,assorted,"[assorted, assoerted, asorted, asdorted, arsorted, asoterd, asstd, assrt, assorted 6pcs, seeds assorted, assorted (3gm), asotwd]",assorted assoerted asorted asdorted arsorted asoterd asstd assrt assorted 6pcs seeds assorted assorted (3gm) asotwd,"[assorted, assoerted, asorted, asdorted, arsorted, asoterd, asstd, assrt, assorted, 6pcs, seeds, assorted, assorted, , 3gm, , asotwd]"
3,tabs,"[tabs, tabs., tas, tsbs, tqbs, tbts, tans, tabd, taba, tabs bp, tabs 2', tab 24s]",tabs tabs. tas tsbs tqbs tbts tans tabd taba tabs bp tabs 2' tab 24s,"[tabs, tabs., tas, tsbs, tqbs, tbts, tans, tabd, taba, tabs, bp, tabs, 2', tab, 24s]"
4,assorted (3gm),"[assorted, assoerted, asorted, asdorted, arsorted, asoterd, asstd, assrt, assorted 6pcs, seeds assorted, assorted (3gm), asotwd]",assorted assoerted asorted asdorted arsorted asoterd asstd assrt assorted 6pcs seeds assorted assorted (3gm) asotwd,"[assorted, assoerted, asorted, asdorted, arsorted, asoterd, asstd, assrt, assorted, 6pcs, seeds, assorted, assorted, , 3gm, , asotwd]"
...,...,...,...,...
4995,green 20litres,"[green 10litres, green 20litres, ripple green 1litre]",green 10litres green 20litres ripple green 1litre,"[green, 10litres, green, 20litres, ripple, green, 1litre]"
4996,helper main fsr,"[helper main fsr, helper main frr, helper 2nd frr]",helper main fsr helper main frr helper 2nd frr,"[helper, main, fsr, helper, main, frr, helper, 2nd, frr]"
4997,2654403,[2654403],2654403,[2654403]
4998,3/4* 60fts,"[3/4*60, 3/4""*60, 3/4*20, 3/4""*60ft, 3/4* 60fts, 3/4-60ft, 3/4 60ft]","3/4*60 3/4""*60 3/4*20 3/4""*60ft 3/4* 60fts 3/4-60ft 3/4 60ft","[3, 4*60, 3, 4""*60, 3, 4*20, 3, 4""*60ft, 3, 4*, 60fts, 3, 4, 60ft, 3, 4, 60ft]"
4999,b112p,"[b12, 12, b112p]",b12 12 b112p,"[b12, 12, b112p]"

In [38]:
# extracting most common words from each cluster in order
cluster_word_freq = {}


for id, row in cleaned__df.iterrows():
    cluster = row['match_concat']

    words = re.split(r'\s+|-|\(|\)|/|\\|\||,', cluster)
    words = [word for word in words if word.strip()]

    for word in words:
        if id in cluster_word_freq:
            cluster_word_freq[id][word] = cluster_word_freq[id].get(word, 0) + 1
        else:
            cluster_word_freq[id] = {word: 1}

for id in cluster_word_freq:
    cluster_word_freq[id] = sorted(cluster_word_freq[id].items(), key=lambda x: x[1], reverse=True)
    # cluster_word_freq[id] = list(cluster_word_freq[id].items())
    # cluster_word_freq[id] = cluster_word_freq[id].items()

cluster_word_freq_df = pd.DataFrame.from_dict(cluster_word_freq.items())
cluster_word_freq_df.rename(columns={0: 'id', 1: 'word_freq'}, inplace=True)
cluster_word_freq_df.head()

,id,word_freq
0,0,"[(copies, 1)]"
1,1,"[(way, 2), (ways, 1), (waya, 1), (4, 1)]"
2,2,"[(assorted, 4), (assoerted, 1), (asorted, 1), (asdorted, 1), (arsorted, 1), (asoterd, 1), (asstd, 1), (assrt, 1), (6pcs, 1), (seeds, 1), (3gm, 1), (asotwd, 1)]"
3,3,"[(tabs, 3), (tabs., 1), (tas, 1), (tsbs, 1), (tqbs, 1), (tbts, 1), (tans, 1), (tabd, 1), (taba, 1), (bp, 1), (2', 1), (tab, 1), (24s, 1)]"
4,4,"[(assorted, 4), (assoerted, 1), (asorted, 1), (asdorted, 1), (arsorted, 1), (asoterd, 1), (asstd, 1), (assrt, 1), (6pcs, 1), (seeds, 1), (3gm, 1), (asotwd, 1)]"

In [39]:
cluster_word_freq_df['cluster_name'] = cluster_word_freq_df['word_freq'].apply(lambda x: ''.join(word[0] for word in x[:1]))
cluster_word_freq_df[60:70]

,id,word_freq,cluster_name
60,61,"[(tabs, 8), (5mg, 2), (375mg, 1), (75mg, 1), (tabs500mg, 1), (20mg, 1), (50mg, 1), (15mg, 1), (0.135mg, 1), (tab, 1), (360mg, 1)]",tabs
61,62,"[(6's, 1), (6', 1)]",6's
62,63,"[(cap, 1), (caps, 1), (capd, 1), (cp, 1), (ca, 1), (cheap, 1)]",cap
63,64,"[(foliar, 5), (1ltr, 1), (5ltrs, 1), (3ltrs, 1), (2ltrs, 1)]",foliar
64,65,"[(continental, 1), (container, 1)]",continental
65,66,"[(tabs, 3), (tabs., 1), (tas, 1), (tsbs, 1), (tqbs, 1), (tbts, 1), (tans, 1), (tabd, 1), (taba, 1), (bp, 1), (2', 1), (tab, 1), (24s, 1)]",tabs
66,67,"[(fertilizer, 5), (i, 1), (kg, 1), (1kg, 1), (frertilizer, 1), (fertilizers, 1), (fertiliser, 1), (fartilizer, 1), (500ml, 1), (100ml, 1)]",fertilizer
67,68,"[(dairy, 18), (meal, 17), (20kgs, 3), (50kgs, 3), (10kgs, 3), (tuvune, 3), (70kg, 2), (50kg, 2), (10kg, 2), (fugo, 2), (empire, 2), (dairymeal, 1), (25kgs, 1), (max, 1), (1kg, 1), (20kg, 1)]",dairy
68,69,"[(cc, 1)]",cc
69,70,"[(special, 2), (pcs, 1), (spiral, 1), (pencil, 1)]",special

In [40]:
cluster_names = cluster_word_freq_df['cluster_name'].to_list()

def find_cluster_name(string):
    for i in cluster_names:
        if i in string:
            return i

cleaned__df['cluster_name'] = cleaned__df['match_split'].apply(find_cluster_name)
cleaned__df[60:70]

,unit,match,match_concat,match_split,cluster_name
60,"4*6""","[4*6, 4*6"", 4*26, 46]","4*6 4*6"" 4*26 46","[4*6, 4*6"", 4*26, 46]",4*6
61,tabs-375mg,"[tabs-375mg, tabs 75mg, tabs 5mg, tabs500mg, tabs-20mg, tabs 50mg, tabs 15mg, tabs 0.135mg, tab 5mg, tabs 360mg]",tabs-375mg tabs 75mg tabs 5mg tabs500mg tabs-20mg tabs 50mg tabs 15mg tabs 0.135mg tab 5mg tabs 360mg,"[tabs, 375mg, tabs, 75mg, tabs, 5mg, tabs500mg, tabs, 20mg, tabs, 50mg, tabs, 15mg, tabs, 0.135mg, tab, 5mg, tabs, 360mg]",tabs
62,6's,"[6's, 6']",6's 6',"[6's, 6']",6's
63,caps,"[cap, caps, capd, cp, ca, cheap]",cap caps capd cp ca cheap,"[cap, caps, capd, cp, ca, cheap]",cap
64,foliar 1ltr,"[foliar 1ltr, foliar 5ltrs, foliar 3ltrs, foliar 2ltrs, foliar]",foliar 1ltr foliar 5ltrs foliar 3ltrs foliar 2ltrs foliar,"[foliar, 1ltr, foliar, 5ltrs, foliar, 3ltrs, foliar, 2ltrs, foliar]",foliar
65,continental,"[continental, container]",continental container,"[continental, container]",continental
66,tabd,"[tabs, tabs., tas, tsbs, tqbs, tbts, tans, tabd, taba, tabs bp, tabs 2', tab 24s]",tabs tabs. tas tsbs tqbs tbts tans tabd taba tabs bp tabs 2' tab 24s,"[tabs, tabs., tas, tsbs, tqbs, tbts, tans, tabd, taba, tabs, bp, tabs, 2', tab, 24s]",tabs
67,fertilizer i kg,"[fertilizer i kg, fertilizer 1kg, fertilizer, frertilizer, fertilizers, fertiliser, fartilizer, fertilizer 500ml, fertilizer 100ml]",fertilizer i kg fertilizer 1kg fertilizer frertilizer fertilizers fertiliser fartilizer fertilizer 500ml fertilizer 100ml,"[fertilizer, i, kg, fertilizer, 1kg, fertilizer, frertilizer, fertilizers, fertiliser, fartilizer, fertilizer, 500ml, fertilizer, 100ml]",fertilizer
68,dairy meal (70kg),"[dairy meal (70kg), dairy meal (50kg), dairy meal (10kg), dairy meal (20kgs), dairy meal 10kg, dairy meal 50kgs, dairy meal 10kgs, dairymeal 50kg, dairy meal 25kgs, max dairy meal 20kgs, dairy meal, dairy 70kg, fugo dairy meal 10kgs, dairy meal fugo 1kg, empire dairy meal 20kg, tuvune dairy meal 50kgs, tuvune dairy meal 20kgs, tuvune dairy meal 10kgs, empire dairy meal 50kgs]",dairy meal (70kg) dairy meal (50kg) dairy meal (10kg) dairy meal (20kgs) dairy meal 10kg dairy meal 50kgs dairy meal 10kgs dairymeal 50kg dairy meal 25kgs max dairy meal 20kgs dairy meal dairy 70kg fugo dairy meal 10kgs dairy meal fugo 1kg empire dairy meal 20kg tuvune dairy meal 50kgs tuvune dairy meal 20kgs tuvune dairy meal 10kgs empire dairy meal 50kgs,"[dairy, meal, , 70kg, , dairy, meal, , 50kg, , dairy, meal, , 10kg, , dairy, meal, , 20kgs, , dairy, meal, 10kg, dairy, meal, 50kgs, dairy, meal, 10kgs, dairymeal, 50kg, dairy, meal, 25kgs, max, dairy, meal, 20kgs, dairy, meal, dairy, 70kg, fugo, dairy, meal, 10kgs, dairy, meal, fugo, 1kg, empire, dairy, meal, 20kg, tuvune, dairy, meal, 50kgs, tuvune, dairy, meal, 20kgs, tuvune, dairy, meal, 10kgs, empire, dairy, meal, 50kgs]",fugo
69,cc,[cc],cc,[cc],cc

In [41]:
cleaned__df[cleaned__df['cluster_name'].isna()]

     unit      match match_concat     match_split cluster_name
40      -        [-]            -            [, ]         None
4433   --  [--, ---]       -- ---  [, , , , , , ]         None
4576  ---  [--, ---]       -- ---  [, , , , , , ]         None

In [49]:
clean_ones = cleaned_types_df[cleaned_types_df['score'] >= 0.65]
clean_ones

             unit   match  score
0             mls      ml   0.80
1               g       g   1.00
4              ml      ml   1.00
5             gms      gm   0.80
6              50      50   1.00
...           ...     ...    ...
5869       bolusf   bolus   0.91
5887  tablet 25mg  tablet   0.71
5888    datacable  tablet   0.67
5891          xps     pcs   0.67
5899          lgm      gm   0.80

[837 rows x 3 columns]

In [45]:
# cleaned_types_df[(cleaned_types_df['score'] >= 0.6) & (cleaned_types_df['score'] < 0.65)][:50]

In [50]:
new_product_type_df = product_type_df.merge(clean_ones[['unit', 'match']], how='left', on='unit')
new_product_type_df

           product_name product_type  number    unit   match
0       pantoxy 20℅ 10%       250mls     250     mls      ml
1            pharmguard           5g       5       g       g
2            tabs cream       copies  copies  copies     NaN
3      uwezo dairy meal       copies  copies  copies     NaN
4             cargo box        3 way       3     way     NaN
...                 ...          ...     ...     ...     ...
99990       wuxal basis       500mls     500     mls      ml
99991         tzex  500       tablet  tablet  tablet  tablet
99992         becomplex       tablet  tablet  tablet  tablet
99993              bran       tablet  tablet  tablet  tablet
99994           lactona       tablet  tablet  tablet  tablet

[99995 rows x 5 columns]

In [51]:
new_product_type_df = new_product_type_df.merge(cleaned__df[['unit', 'cluster_name']], on='unit', how='left')
new_product_type_df

           product_name product_type  number    unit   match cluster_name
0       pantoxy 20℅ 10%       250mls     250     mls      ml          NaN
1            pharmguard           5g       5       g       g          NaN
2            tabs cream       copies  copies  copies     NaN       copies
3      uwezo dairy meal       copies  copies  copies     NaN       copies
4             cargo box        3 way       3     way     NaN          way
...                 ...          ...     ...     ...     ...          ...
99990       wuxal basis       500mls     500     mls      ml          NaN
99991         tzex  500       tablet  tablet  tablet  tablet          NaN
99992         becomplex       tablet  tablet  tablet  tablet          NaN
99993              bran       tablet  tablet  tablet  tablet          NaN
99994           lactona       tablet  tablet  tablet  tablet          NaN

[99995 rows x 6 columns]

In [53]:
new_product_type_df[:50]

,product_name,product_type,number,unit,match,cluster_name
0,pantoxy 20℅ 10%,250mls,250,mls,ml,NaN
1,pharmguard,5g,5,g,g,NaN
2,tabs cream,copies,copies,copies,NaN,copies
3,uwezo dairy meal,copies,copies,copies,NaN,copies
4,cargo box,3 way,3,way,NaN,way
5,force one plus,135ml,135,ml,ml,NaN
6,weed master 500 sc,250gms,250,gms,gm,NaN
7,fugo layers compleat meal,50,50,50,50,NaN
8,starter j,50,50,50,50,NaN
9,chick & duck mash,50,50,50,50,NaN
10,bugga sacket 50gms,assorted,assorted,assorted,NaN,assorted
11,bedlam 200 sl,15ml,15,ml,ml,NaN
12,veriben b12,2.36gm,2.36,gm,gm,NaN
13,black earth,assorted,assorted,assorted,NaN,assorted
14,fanlar tabs fansidar,tabs,tabs,tabs,NaN,tabs
15,carrot - nantes,assorted (3gm),assorted (3gm),assorted (3gm),NaN,assorted
16,spinach - fordhook giant,assorted,assorted,assorted,NaN,assorted
17,erythromycin 20% 25%,(throcin),(throcin),(throcin),NaN,throcin
18,400 metronidazole megly,tablets,tablets,tablets,tablet,NaN
19,albendazole bolus,400mg,400,mg,mg,NaN
20,eggplant - long purple,assorted,assorted,assorted,NaN,assorted
21,trypamed,2.36gm,2.36,gm,gm,NaN
22,california wonder,assorted,assorted,assorted,NaN,assorted
23,simba cement,pcs,pcs,pcs,pcs,NaN
24,butamed,15mg,15,mg,mg,NaN
25,kienyeji mash,20kg,20,kg,kg,NaN
26,dap,50kgs,50,kgs,kgs,NaN
27,shoes official 500,units,units,units,unit,NaN
28,water 4injection,10mls,10,mls,ml,NaN
29,super run tyre,units,units,units,unit,NaN
30,sprocket pcs locks,local,local,local,NaN,local
31,red cat,1,1,1,10,NaN
32,sea gas salt,units,units,units,unit,NaN
33,clutch cable tvs,units,units,units,unit,NaN
34,tube 4,units,units,units,unit,NaN
35,dimaze,2.36gm,2.36,gm,gm,NaN
36,sukuma wiki,assorted,assorted,assorted,NaN,assorted
37,kienyeji mash,5kg bag,5,kg,kg,NaN
38,growers mash,1/2kgs,1/2,kgs,kgs,NaN
39,rope polytwisted green,4,4,4,24,NaN
40,(f) dcp,25,25,25,NaN,25
41,nakati,assorted,assorted,assorted,NaN,assorted
42,njenga mix plain,1/2kgs,1/2,kgs,kgs,NaN
43,diazol 60 ec,28ml,28,ml,ml,NaN
44,dhania,10g,10,g,g,NaN
45,skana,hybrid,hybrid,hybrid,NaN,hybrid
46,bitul black,1 litre,1,litre,ltr,NaN
47,dimina vet,2.36mg,2.36,mg,mg,NaN
48,zeditone cpm,6ml,6,ml,ml,NaN
49,"hasps& staples2"" staples2.5",dazon,dazon,dazon,dzn,NaN

In [54]:
new_product_type_df['match'] = np.where(new_product_type_df['match'].isna(), new_product_type_df['cluster_name'], new_product_type_df['match'])
new_product_type_df[:50]

,product_name,product_type,number,unit,match,cluster_name
0,pantoxy 20℅ 10%,250mls,250,mls,ml,NaN
1,pharmguard,5g,5,g,g,NaN
2,tabs cream,copies,copies,copies,copies,copies
3,uwezo dairy meal,copies,copies,copies,copies,copies
4,cargo box,3 way,3,way,way,way
5,force one plus,135ml,135,ml,ml,NaN
6,weed master 500 sc,250gms,250,gms,gm,NaN
7,fugo layers compleat meal,50,50,50,50,NaN
8,starter j,50,50,50,50,NaN
9,chick & duck mash,50,50,50,50,NaN
10,bugga sacket 50gms,assorted,assorted,assorted,assorted,assorted
11,bedlam 200 sl,15ml,15,ml,ml,NaN
12,veriben b12,2.36gm,2.36,gm,gm,NaN
13,black earth,assorted,assorted,assorted,assorted,assorted
14,fanlar tabs fansidar,tabs,tabs,tabs,tabs,tabs
15,carrot - nantes,assorted (3gm),assorted (3gm),assorted (3gm),assorted,assorted
16,spinach - fordhook giant,assorted,assorted,assorted,assorted,assorted
17,erythromycin 20% 25%,(throcin),(throcin),(throcin),throcin,throcin
18,400 metronidazole megly,tablets,tablets,tablets,tablet,NaN
19,albendazole bolus,400mg,400,mg,mg,NaN
20,eggplant - long purple,assorted,assorted,assorted,assorted,assorted
21,trypamed,2.36gm,2.36,gm,gm,NaN
22,california wonder,assorted,assorted,assorted,assorted,assorted
23,simba cement,pcs,pcs,pcs,pcs,NaN
24,butamed,15mg,15,mg,mg,NaN
25,kienyeji mash,20kg,20,kg,kg,NaN
26,dap,50kgs,50,kgs,kgs,NaN
27,shoes official 500,units,units,units,unit,NaN
28,water 4injection,10mls,10,mls,ml,NaN
29,super run tyre,units,units,units,unit,NaN
30,sprocket pcs locks,local,local,local,local,local
31,red cat,1,1,1,10,NaN
32,sea gas salt,units,units,units,unit,NaN
33,clutch cable tvs,units,units,units,unit,NaN
34,tube 4,units,units,units,unit,NaN
35,dimaze,2.36gm,2.36,gm,gm,NaN
36,sukuma wiki,assorted,assorted,assorted,assorted,assorted
37,kienyeji mash,5kg bag,5,kg,kg,NaN
38,growers mash,1/2kgs,1/2,kgs,kgs,NaN
39,rope polytwisted green,4,4,4,24,NaN
40,(f) dcp,25,25,25,25,25
41,nakati,assorted,assorted,assorted,assorted,assorted
42,njenga mix plain,1/2kgs,1/2,kgs,kgs,NaN
43,diazol 60 ec,28ml,28,ml,ml,NaN
44,dhania,10g,10,g,g,NaN
45,skana,hybrid,hybrid,hybrid,hybrid,hybrid
46,bitul black,1 litre,1,litre,ltr,NaN
47,dimina vet,2.36mg,2.36,mg,mg,NaN
48,zeditone cpm,6ml,6,ml,ml,NaN
49,"hasps& staples2"" staples2.5",dazon,dazon,dazon,dzn,NaN

In [55]:
new_product_type_df.isna().sum()

product_name        0
product_type        0
number              0
unit                0
match             615
cluster_name    84499
dtype: int64

In [58]:
new_product_type_df['match'] = np.where(new_product_type_df['match'].isna(), new_product_type_df['unit'], new_product_type_df['match'])
new_product_type_df[:50]

,product_name,product_type,number,unit,match,cluster_name
0,pantoxy 20℅ 10%,250mls,250,mls,ml,NaN
1,pharmguard,5g,5,g,g,NaN
2,tabs cream,copies,copies,copies,copies,copies
3,uwezo dairy meal,copies,copies,copies,copies,copies
4,cargo box,3 way,3,way,way,way
5,force one plus,135ml,135,ml,ml,NaN
6,weed master 500 sc,250gms,250,gms,gm,NaN
7,fugo layers compleat meal,50,50,50,50,NaN
8,starter j,50,50,50,50,NaN
9,chick & duck mash,50,50,50,50,NaN
10,bugga sacket 50gms,assorted,assorted,assorted,assorted,assorted
11,bedlam 200 sl,15ml,15,ml,ml,NaN
12,veriben b12,2.36gm,2.36,gm,gm,NaN
13,black earth,assorted,assorted,assorted,assorted,assorted
14,fanlar tabs fansidar,tabs,tabs,tabs,tabs,tabs
15,carrot - nantes,assorted (3gm),assorted (3gm),assorted (3gm),assorted,assorted
16,spinach - fordhook giant,assorted,assorted,assorted,assorted,assorted
17,erythromycin 20% 25%,(throcin),(throcin),(throcin),throcin,throcin
18,400 metronidazole megly,tablets,tablets,tablets,tablet,NaN
19,albendazole bolus,400mg,400,mg,mg,NaN
20,eggplant - long purple,assorted,assorted,assorted,assorted,assorted
21,trypamed,2.36gm,2.36,gm,gm,NaN
22,california wonder,assorted,assorted,assorted,assorted,assorted
23,simba cement,pcs,pcs,pcs,pcs,NaN
24,butamed,15mg,15,mg,mg,NaN
25,kienyeji mash,20kg,20,kg,kg,NaN
26,dap,50kgs,50,kgs,kgs,NaN
27,shoes official 500,units,units,units,unit,NaN
28,water 4injection,10mls,10,mls,ml,NaN
29,super run tyre,units,units,units,unit,NaN
30,sprocket pcs locks,local,local,local,local,local
31,red cat,1,1,1,10,NaN
32,sea gas salt,units,units,units,unit,NaN
33,clutch cable tvs,units,units,units,unit,NaN
34,tube 4,units,units,units,unit,NaN
35,dimaze,2.36gm,2.36,gm,gm,NaN
36,sukuma wiki,assorted,assorted,assorted,assorted,assorted
37,kienyeji mash,5kg bag,5,kg,kg,NaN
38,growers mash,1/2kgs,1/2,kgs,kgs,NaN
39,rope polytwisted green,4,4,4,24,NaN
40,(f) dcp,25,25,25,25,25
41,nakati,assorted,assorted,assorted,assorted,assorted
42,njenga mix plain,1/2kgs,1/2,kgs,kgs,NaN
43,diazol 60 ec,28ml,28,ml,ml,NaN
44,dhania,10g,10,g,g,NaN
45,skana,hybrid,hybrid,hybrid,hybrid,hybrid
46,bitul black,1 litre,1,litre,ltr,NaN
47,dimina vet,2.36mg,2.36,mg,mg,NaN
48,zeditone cpm,6ml,6,ml,ml,NaN
49,"hasps& staples2"" staples2.5",dazon,dazon,dazon,dzn,NaN

In [59]:
new_product_type_df.isna().sum()

product_name        0
product_type        0
number              0
unit                0
match               0
cluster_name    84499
dtype: int64

In [60]:
def add_correct_product_type_column(df):
    # df['correct_product_type'] = df.apply(lambda row: row['number'] + row['match'] if row['number'] != row['match'] and row['number'].isalpha() == False  else row['match'], axis=1)
    # df['correct_product_type'] = df.apply(lambda row: row['number'] + row['match'] if row['number'].isdigit() != row['match'].isdigit() else row['match'], axis=1)
    def is_numeric(value):
        pattern = r'^\d+(\.\d+)?|½|¼|¾|\d+\/\d+$'
        return bool(re.match(pattern, value))

    df['correct_product_type'] = df.apply(lambda row: row['number'] + row['match'] if row['number'] != row['match'] and is_numeric(row['number']) and row['match'].isalpha() else row['match'], axis=1)

    # df['correct_product_type'] = df.apply(lambda row: row['number'] + row['match'] if row['number'] != row['match'] else row['match'], axis=1)

new_product_type_df_copy = new_product_type_df.copy()

new_product_type_df_copy['number'] = new_product_type_df_copy['number'].astype('str')
new_product_type_df_copy['match'] = new_product_type_df_copy['match'].astype('str')

# new_product_type_df['correct_product_type'] = new_product_type_df['number'] + new_product_type_df['match']
# new_product_type_df[:50]


add_correct_product_type_column(new_product_type_df_copy)

In [61]:
new_product_type_df_copy[:50]

,product_name,product_type,number,unit,match,cluster_name,correct_product_type
0,pantoxy 20℅ 10%,250mls,250,mls,ml,NaN,250ml
1,pharmguard,5g,5,g,g,NaN,5g
2,tabs cream,copies,copies,copies,copies,copies,copies
3,uwezo dairy meal,copies,copies,copies,copies,copies,copies
4,cargo box,3 way,3,way,way,way,3way
5,force one plus,135ml,135,ml,ml,NaN,135ml
6,weed master 500 sc,250gms,250,gms,gm,NaN,250gm
7,fugo layers compleat meal,50,50,50,50,NaN,50
8,starter j,50,50,50,50,NaN,50
9,chick & duck mash,50,50,50,50,NaN,50
10,bugga sacket 50gms,assorted,assorted,assorted,assorted,assorted,assorted
11,bedlam 200 sl,15ml,15,ml,ml,NaN,15ml
12,veriben b12,2.36gm,2.36,gm,gm,NaN,2.36gm
13,black earth,assorted,assorted,assorted,assorted,assorted,assorted
14,fanlar tabs fansidar,tabs,tabs,tabs,tabs,tabs,tabs
15,carrot - nantes,assorted (3gm),assorted (3gm),assorted (3gm),assorted,assorted,assorted
16,spinach - fordhook giant,assorted,assorted,assorted,assorted,assorted,assorted
17,erythromycin 20% 25%,(throcin),(throcin),(throcin),throcin,throcin,throcin
18,400 metronidazole megly,tablets,tablets,tablets,tablet,NaN,tablet
19,albendazole bolus,400mg,400,mg,mg,NaN,400mg
20,eggplant - long purple,assorted,assorted,assorted,assorted,assorted,assorted
21,trypamed,2.36gm,2.36,gm,gm,NaN,2.36gm
22,california wonder,assorted,assorted,assorted,assorted,assorted,assorted
23,simba cement,pcs,pcs,pcs,pcs,NaN,pcs
24,butamed,15mg,15,mg,mg,NaN,15mg
25,kienyeji mash,20kg,20,kg,kg,NaN,20kg
26,dap,50kgs,50,kgs,kgs,NaN,50kgs
27,shoes official 500,units,units,units,unit,NaN,unit
28,water 4injection,10mls,10,mls,ml,NaN,10ml
29,super run tyre,units,units,units,unit,NaN,unit
30,sprocket pcs locks,local,local,local,local,local,local
31,red cat,1,1,1,10,NaN,10
32,sea gas salt,units,units,units,unit,NaN,unit
33,clutch cable tvs,units,units,units,unit,NaN,unit
34,tube 4,units,units,units,unit,NaN,unit
35,dimaze,2.36gm,2.36,gm,gm,NaN,2.36gm
36,sukuma wiki,assorted,assorted,assorted,assorted,assorted,assorted
37,kienyeji mash,5kg bag,5,kg,kg,NaN,5kg
38,growers mash,1/2kgs,1/2,kgs,kgs,NaN,1/2kgs
39,rope polytwisted green,4,4,4,24,NaN,24
40,(f) dcp,25,25,25,25,25,25
41,nakati,assorted,assorted,assorted,assorted,assorted,assorted
42,njenga mix plain,1/2kgs,1/2,kgs,kgs,NaN,1/2kgs
43,diazol 60 ec,28ml,28,ml,ml,NaN,28ml
44,dhania,10g,10,g,g,NaN,10g
45,skana,hybrid,hybrid,hybrid,hybrid,hybrid,hybrid
46,bitul black,1 litre,1,litre,ltr,NaN,1ltr
47,dimina vet,2.36mg,2.36,mg,mg,NaN,2.36mg
48,zeditone cpm,6ml,6,ml,ml,NaN,6ml
49,"hasps& staples2"" staples2.5",dazon,dazon,dazon,dzn,NaN,dzn

In [63]:
new_product_type_df_copy = new_product_type_df_copy[['product_name', 'product_type', 'correct_product_type']]
new_product_type_df_copy

           product_name product_type correct_product_type
0       pantoxy 20℅ 10%       250mls                250ml
1            pharmguard           5g                   5g
2            tabs cream       copies               copies
3      uwezo dairy meal       copies               copies
4             cargo box        3 way                 3way
...                 ...          ...                  ...
99990       wuxal basis       500mls                500ml
99991         tzex  500       tablet               tablet
99992         becomplex       tablet               tablet
99993              bran       tablet               tablet
99994           lactona       tablet               tablet

[99995 rows x 3 columns]

In [64]:
new_product_type_df_copy = new_product_type_df_copy.drop_duplicates(subset=['product_type', 'correct_product_type'], keep='first')
new_product_type_df_copy.shape

(10428, 3)

In [65]:
new_product_type_df_copy.to_csv('clean_product_types_new.csv', index = False)

In [79]:
data = pd.read_csv('../../clean_prod_datasets/cleaned_products.csv')
iprocure_product_df = pd.read_excel('../../data/data_v2/product_list.xlsx')

In [80]:
product_list_df = iprocure_product_df[['Product Name', 'Type']].\
                                applymap(lambda x: str(x).lower().strip()).\
                                drop_duplicates(subset=['Product Name', 'Type'], keep='first').\
                                reset_index(drop=True)
                                
df = data[['correct_product_match',	'product_type']].\
                                applymap(lambda x: str(x).lower().strip()).\
                                drop_duplicates(subset=['correct_product_match', 'product_type'], keep='first').\
                                reset_index(drop=True)

In [81]:
df[df['correct_product_match'] == 'gasket clutch block']

       correct_product_match        product_type
2822     gasket clutch block               loose
29052    gasket clutch block    cg 150(complete)
29059    gasket clutch block    cg150 incomplete
29627    gasket clutch block              bm 150
29651    gasket clutch block              bj 100
30962    gasket clutch block                unit
37444    gasket clutch block               piece
40874    gasket clutch block               1unit
41729    gasket clutch block                 1pc
42066    gasket clutch block                 pcs
56675    gasket clutch block              1peace
56684    gasket clutch block               block
58279    gasket clutch block             1x1.5ft
58305    gasket clutch block              1x1 ft
61069    gasket clutch block               units
61115    gasket clutch block                 1ft
63956    gasket clutch block                 pic
63992    gasket clutch block              1piece
65865    gasket clutch block                 1pv
66291    gasket clutch block              single
66293    gasket clutch block                1pkt
66330    gasket clutch block                toyo
66411    gasket clutch block                  bm
68572    gasket clutch block                  pc
83122    gasket clutch block       tvs(complete)
83218    gasket clutch block              pieces
87686    gasket clutch block                   m
103216   gasket clutch block                  bj
103234   gasket clutch block            ks/bm150
103246   gasket clutch block               bajaj
106808   gasket clutch block              haujue
106811   gasket clutch block  haujue(incomplete)
109895   gasket clutch block    bj 100(complete)
111974   gasket clutch block             hlx 125
111983   gasket clutch block                star
125176   gasket clutch block               cg150
126366   gasket clutch block   cg 150 (complete)
126425   gasket clutch block   bj 100 (complete)
128593   gasket clutch block              cg 150
128738   gasket clutch block     tvs(incomplete)
128782   gasket clutch block               bm150
128964   gasket clutch block  bm 150(incomplete)
128966   gasket clutch block   bj 100(inomplete)
128967   gasket clutch block        tvs complete
166708   gasket clutch block                seal
169873   gasket clutch block          spare part
193836   gasket clutch block           gasket-pc
202035   gasket clutch block            b/gasket
208962   gasket clutch block                 nan
224084   gasket clutch block         spaire part
235189   gasket clutch block                1 pc

In [82]:
def extract_parts(value):
    pattern = r'(\d+(?:\.\d+)?|½|¼|¾|\d+\/\d+)(\s*[a-zA-Z]+)'
    matches = re.match(pattern, value)

    if matches:
        digits_part = matches.group(1)
        letters_part = matches.group(2)
        return digits_part, letters_part.strip()
    else:
        return value, value

In [83]:
# applying the function to the column and create new columns
product_list_df[['number', 'unit']] = product_list_df['Type'].apply(lambda x: pd.Series(extract_parts(str(x))))
df[['number', 'unit']] = df['product_type'].apply(lambda x: pd.Series(extract_parts(str(x))))

units = product_list_df['unit'].unique().tolist()
units_df = df['unit'].drop_duplicates(keep='first').reset_index(drop=True).to_frame()

In [84]:
df[df['correct_product_match'] == 'gasket clutch block']

,correct_product_match,product_type,number,unit
2822,gasket clutch block,loose,loose,loose
29052,gasket clutch block,cg 150(complete),cg 150(complete),cg 150(complete)
29059,gasket clutch block,cg150 incomplete,cg150 incomplete,cg150 incomplete
29627,gasket clutch block,bm 150,bm 150,bm 150
29651,gasket clutch block,bj 100,bj 100,bj 100
30962,gasket clutch block,unit,unit,unit
37444,gasket clutch block,piece,piece,piece
40874,gasket clutch block,1unit,1,unit
41729,gasket clutch block,1pc,1,pc
42066,gasket clutch block,pcs,pcs,pcs
56675,gasket clutch block,1peace,1,peace
56684,gasket clutch block,block,block,block
58279,gasket clutch block,1x1.5ft,1,x
58305,gasket clutch block,1x1 ft,1,x
61069,gasket clutch block,units,units,units
61115,gasket clutch block,1ft,1,ft
63956,gasket clutch block,pic,pic,pic
63992,gasket clutch block,1piece,1,piece
65865,gasket clutch block,1pv,1,pv
66291,gasket clutch block,single,single,single
66293,gasket clutch block,1pkt,1,pkt
66330,gasket clutch block,toyo,toyo,toyo
66411,gasket clutch block,bm,bm,bm
68572,gasket clutch block,pc,pc,pc
83122,gasket clutch block,tvs(complete),tvs(complete),tvs(complete)
83218,gasket clutch block,pieces,pieces,pieces
87686,gasket clutch block,m,m,m
103216,gasket clutch block,bj,bj,bj
103234,gasket clutch block,ks/bm150,ks/bm150,ks/bm150
103246,gasket clutch block,bajaj,bajaj,bajaj
106808,gasket clutch block,haujue,haujue,haujue
106811,gasket clutch block,haujue(incomplete),haujue(incomplete),haujue(incomplete)
109895,gasket clutch block,bj 100(complete),bj 100(complete),bj 100(complete)
111974,gasket clutch block,hlx 125,hlx 125,hlx 125
111983,gasket clutch block,star,star,star
125176,gasket clutch block,cg150,cg150,cg150
126366,gasket clutch block,cg 150 (complete),cg 150 (complete),cg 150 (complete)
126425,gasket clutch block,bj 100 (complete),bj 100 (complete),bj 100 (complete)
128593,gasket clutch block,cg 150,cg 150,cg 150
128738,gasket clutch block,tvs(incomplete),tvs(incomplete),tvs(incomplete)
128782,gasket clutch block,bm150,bm150,bm150
128964,gasket clutch block,bm 150(incomplete),bm 150(incomplete),bm 150(incomplete)
128966,gasket clutch block,bj 100(inomplete),bj 100(inomplete),bj 100(inomplete)
128967,gasket clutch block,tvs complete,tvs complete,tvs complete
166708,gasket clutch block,seal,seal,seal
169873,gasket clutch block,spare part,spare part,spare part
193836,gasket clutch block,gasket-pc,gasket-pc,gasket-pc
202035,gasket clutch block,b/gasket,b/gasket,b/gasket
208962,gasket clutch block,nan,nan,nan
224084,gasket clutch block,spaire part,spaire part,spaire part
235189,gasket clutch block,1 pc,1,pc

In [85]:
# cleanup function to clean units
def compare(i):
    comparison = {}
    if isinstance(i, str):
        comparison.update({i: get_close_matches(i, units, n=1, cutoff=0.1)})
    unit = list(comparison.keys()) if comparison else None
    match = []
    score = []
    if comparison:
        for key, value in comparison.items():
            if value:
                match.append(value[0])
                score.append(round(SequenceMatcher(None, i, value[0]).ratio(), 2))
            else:
                match.append(None)
                score.append(None)
    else:
        match.append(None)
        score.append(None)

    return pd.Series([unit, match, score], index = ['unit', 'match', 'score'])

In [86]:
cleaned_types_df = pd.DataFrame()
cleaned_types_df[['unit', 'match', 'score']] = units_df['unit'].apply(lambda x: compare(x))
cleaned_types_df = cleaned_types_df.applymap(lambda x: x[0] if x else '')

In [87]:
cleaned_types_df[cleaned_types_df['unit'] == 'ks/bm150']

          unit match  score
4596  ks/bm150    50    0.4

In [88]:
# clustering unmatched units
to_cluster_df = cleaned_types_df[cleaned_types_df['score'] < 0.7].reset_index(drop=True)

matched = []
def compare(i):
    compare = {}
    if i in matched:
        compare.update({i: ''})
    else:
        compare.update({i: get_close_matches(i, to_cluster_df['unit'].to_list(), 20, 0.7)})
    matched.extend([item for sublist in compare.values() for item in sublist])
    unit = list(compare.keys())
    match = []
    for key, items in compare.items():
        match.append(items)
    return pd.Series([unit, match], index=['unit', 'match'])

In [89]:
cluster_cleaned_df = pd.DataFrame()
cluster_cleaned_df[['unit', 'match']] = to_cluster_df['unit'].apply(lambda x: compare(x))
cluster_cleaned_df = cluster_cleaned_df.applymap(lambda x: x[0] if x else '')

cluster_cleaned_df['unit'] = cluster_cleaned_df['unit'].astype('str')

for i, row in cluster_cleaned_df.iterrows():
    string = row['unit']
    lst = row['match']

    # checking if the string exists in any list of previous rows
    if not lst:
        for prev_i in range(i):
            prev_lst = cluster_cleaned_df.at[prev_i, 'match']
            if string in prev_lst:
                cluster_cleaned_df.at[i, 'match'] = prev_lst
                break

In [90]:
cluster_cleaned_df[cluster_cleaned_df['unit'] == 'ks/bm150']

          unit                                              match
4285  ks/bm150  [bm 150, bm150, bm_150, bm 100, pm 1500, max 1...

In [91]:
cluster_cleaned_df['match_concat'] = cluster_cleaned_df['match'].apply(lambda x:' '.join(x))
cluster_cleaned_df['match_split'] = cluster_cleaned_df['match_concat'].apply(lambda x: re.split(r'\s+|-|\(|\)|/|\\|\||,', x))

In [92]:
cluster_cleaned_df[cluster_cleaned_df['unit'] == 'ks/bm150']

,unit,match,match_concat,match_split
4285,ks/bm150,"[bm 150, bm150, bm_150, bm 100, pm 1500, max 1...",bm 150 bm150 bm_150 bm 100 pm 1500 max 150 bm ...,"[bm, 150, bm150, bm_150, bm, 100, pm, 1500, ma..."

In [68]:
# # extracting most common words from each cluster in order
# cluster_word_freq = {}

# for id, row in cluster_cleaned_df.iterrows():
#     cluster = row['match_concat']

#     words = re.split(r'\s+|-|\(|\)|/|\\|\||,', cluster)
#     words = [word for word in words if word.strip()]

#     for word in words:
#         if id in cluster_word_freq:
#             cluster_word_freq[id][word] = cluster_word_freq[id].get(word, 0) + 1
#         else:
#             cluster_word_freq[id] = {word: 1}

# for id in cluster_word_freq:
#     cluster_word_freq[id] = sorted(cluster_word_freq[id].items(), key=lambda x: x[1], reverse=True)
    
# cluster_word_freq_df = pd.DataFrame.from_dict(cluster_word_freq.items())
# cluster_word_freq_df.rename(columns={0: 'id', 1: 'word_freq'}, inplace=True)

# cluster_word_freq_df['cluster_name'] = cluster_word_freq_df['word_freq'].apply(lambda x: ''.join(word[0] for word in x[:1]))

In [93]:
cluster_cleaned_df['cluster_name'] = cluster_cleaned_df['match'].apply(lambda x: x[0])
cluster_cleaned_df

,unit,match,match_concat,match_split,cluster_name
0,nan,"[nan, nn, na]",nan nn na,"[nan, nn, na]",nan
1,bag,"[bag, bags, bg, ba, ag, kgbag, 1_bag]",bag bags bg ba ag kgbag 1_bag,"[bag, bags, bg, ba, ag, kgbag, 1_bag]",bag
2,x,[x],x,[x],x
3,3/4*1/2,"[3/4*1/2, 3/4* 1/2, 3/4*1/2ft, 3/4""*1/2"", 3/4×...","3/4*1/2 3/4* 1/2 3/4*1/2ft 3/4""*1/2"" 3/4×1/2 3...","[3, 4*1, 2, 3, 4*, 1, 2, 3, 4*1, 2ft, 3, 4""*1,...",3/4*1/2
4,"1""","[1"", l1"", 1½"", 1¼"", 19"", 18"", 17"", 16"", 15"", 1...","1"" l1"" 1½"" 1¼"" 19"" 18"" 17"" 16"" 15"" 14"" 12"" 11""...","[1"", l1"", 1½"", 1¼"", 19"", 18"", 17"", 16"", 15"", 1...","1"""
...,...,...,...,...,...
22095,"vitzs, belta,linco","[vitzs, belta,linco]","vitzs, belta,linco","[vitzs, , belta, linco]","vitzs, belta,linco"
22096,"apol3,pickup","[apol3,pickup]","apol3,pickup","[apol3, pickup]","apol3,pickup"
22097,restoration,"[restoration, castration]",restoration castration,"[restoration, castration]",restoration
22098,holts cold start,[holts cold start],holts cold start,"[holts, cold, start]",holts cold start
22099,grey 85g,"[reno 85g, grey 85g, reno 7, reno 4]",reno 85g grey 85g reno 7 reno 4,"[reno, 85g, grey, 85g, reno, 7, reno, 4]",reno 85g

In [30]:
# cluster_names = cluster_word_freq_df['cluster_name'].to_list()

# def find_cluster_name(string):
#     for i in cluster_names:
#         if i in string:
#             return i

# cluster_cleaned_df['cluster_name'] = cluster_cleaned_df['match_split'].apply(find_cluster_name)

In [94]:
cluster_cleaned_df[cluster_cleaned_df['cluster_name'].isna()]

Empty DataFrame
Columns: [unit, match, match_concat, match_split, cluster_name]
Index: []

In [95]:
clean_types = cleaned_types_df[cleaned_types_df['score'] >= 0.7]
df = df.merge(clean_types[['unit', 'match']], how='left', on='unit')
df = df.merge(cluster_cleaned_df[['unit', 'cluster_name']], how='left', on='unit')
df['match'] = np.where(df['match'].isna(), df['cluster_name'], df['match'])
df['match'] = np.where(df['match'].isna(), df['unit'], df['match'])
# df['match'] = np.where(df['match'].isna(), df['product_type'], df['match'])

In [96]:
df[df['correct_product_match'] == 'gasket clutch block']

,correct_product_match,product_type,number,unit,match,cluster_name
2822,gasket clutch block,loose,loose,loose,loose,loose
29052,gasket clutch block,cg 150(complete),cg 150(complete),cg 150(complete),cg 150 (cooler),cg 150 (cooler)
29059,gasket clutch block,cg150 incomplete,cg150 incomplete,cg150 incomplete,cg150 incomplete,cg150 incomplete
29627,gasket clutch block,bm 150,bm 150,bm 150,bm 150,bm 150
29651,gasket clutch block,bj 100,bj 100,bj 100,bj 100,bj 100
30962,gasket clutch block,unit,unit,unit,unit,NaN
37444,gasket clutch block,piece,piece,piece,pce,NaN
40874,gasket clutch block,1unit,1,unit,unit,NaN
41729,gasket clutch block,1pc,1,pc,pcs,NaN
42066,gasket clutch block,pcs,pcs,pcs,pcs,NaN
56675,gasket clutch block,1peace,1,peace,pce,NaN
56684,gasket clutch block,block,block,block,black,black
58279,gasket clutch block,1x1.5ft,1,x,x,x
58305,gasket clutch block,1x1 ft,1,x,x,x
61069,gasket clutch block,units,units,units,unit,NaN
61115,gasket clutch block,1ft,1,ft,ft,NaN
63956,gasket clutch block,pic,pic,pic,piec,piec
63992,gasket clutch block,1piece,1,piece,pce,NaN
65865,gasket clutch block,1pv,1,pv,pv,pv
66291,gasket clutch block,single,single,single,single,single
66293,gasket clutch block,1pkt,1,pkt,pkts,NaN
66330,gasket clutch block,toyo,toyo,toyo,tool,tool
66411,gasket clutch block,bm,bm,bm,bm,bm
68572,gasket clutch block,pc,pc,pc,pcs,NaN
83122,gasket clutch block,tvs(complete),tvs(complete),tvs(complete),complete,complete
83218,gasket clutch block,pieces,pieces,pieces,pieces,pieces
87686,gasket clutch block,m,m,m,m,NaN
103216,gasket clutch block,bj,bj,bj,bj,bj
103234,gasket clutch block,ks/bm150,ks/bm150,ks/bm150,bm 150,bm 150
103246,gasket clutch block,bajaj,bajaj,bajaj,bajaj,bajaj
106808,gasket clutch block,haujue,haujue,haujue,haujue,haujue
106811,gasket clutch block,haujue(incomplete),haujue(incomplete),haujue(incomplete),haujue(incomplete),haujue(incomplete)
109895,gasket clutch block,bj 100(complete),bj 100(complete),bj 100(complete),bm 150(complete),bm 150(complete)
111974,gasket clutch block,hlx 125,hlx 125,hlx 125,hlx 125,hlx 125
111983,gasket clutch block,star,star,star,"star 8""","star 8"""
125176,gasket clutch block,cg150,cg150,cg150,cg 125,cg 125
126366,gasket clutch block,cg 150 (complete),cg 150 (complete),cg 150 (complete),cg 150 (cooler),cg 150 (cooler)
126425,gasket clutch block,bj 100 (complete),bj 100 (complete),bj 100 (complete),bm 150(complete),bm 150(complete)
128593,gasket clutch block,cg 150,cg 150,cg 150,cg 125,cg 125
128738,gasket clutch block,tvs(incomplete),tvs(incomplete),tvs(incomplete),haujue(incomplete),haujue(incomplete)
128782,gasket clutch block,bm150,bm150,bm150,b15,b15
128964,gasket clutch block,bm 150(incomplete),bm 150(incomplete),bm 150(incomplete),cg150 incomplete,cg150 incomplete
128966,gasket clutch block,bj 100(inomplete),bj 100(inomplete),bj 100(inomplete),bm 150(complete),bm 150(complete)
128967,gasket clutch block,tvs complete,tvs complete,tvs complete,complete,complete
166708,gasket clutch block,seal,seal,seal,self,self
169873,gasket clutch block,spare part,spare part,spare part,spare parts,spare parts
193836,gasket clutch block,gasket-pc,gasket-pc,gasket-pc,glass-pc,glass-pc
202035,gasket clutch block,b/gasket,b/gasket,b/gasket,basket,basket
208962,gasket clutch block,nan,nan,nan,nan,nan
224084,gasket clutch block,spaire part,spaire part,spaire part,spare parts,spare parts
235189,gasket clutch block,1 pc,1,pc,pcs,NaN

In [97]:
def add_correct_product_type_column(df):
    def is_numeric(value):
        pattern = r'^\d+(\.\d+)?|½|¼|¾|\d+\/\d+$'
        return bool(re.match(pattern, value))

    df['correct_product_type'] = df.apply(lambda row: row['number'] + row['match'] if row['number'] != row['match'] and is_numeric(row['number']) and row['match'].isalpha() else row['match'], axis=1)

df[['number', 'match']] = df[['number', 'match']].astype(str)
add_correct_product_type_column(df)

In [98]:
df[df['correct_product_match'] == 'gasket clutch block']

,correct_product_match,product_type,number,unit,match,cluster_name,correct_product_type
2822,gasket clutch block,loose,loose,loose,loose,loose,loose
29052,gasket clutch block,cg 150(complete),cg 150(complete),cg 150(complete),cg 150 (cooler),cg 150 (cooler),cg 150 (cooler)
29059,gasket clutch block,cg150 incomplete,cg150 incomplete,cg150 incomplete,cg150 incomplete,cg150 incomplete,cg150 incomplete
29627,gasket clutch block,bm 150,bm 150,bm 150,bm 150,bm 150,bm 150
29651,gasket clutch block,bj 100,bj 100,bj 100,bj 100,bj 100,bj 100
30962,gasket clutch block,unit,unit,unit,unit,NaN,unit
37444,gasket clutch block,piece,piece,piece,pce,NaN,pce
40874,gasket clutch block,1unit,1,unit,unit,NaN,1unit
41729,gasket clutch block,1pc,1,pc,pcs,NaN,1pcs
42066,gasket clutch block,pcs,pcs,pcs,pcs,NaN,pcs
56675,gasket clutch block,1peace,1,peace,pce,NaN,1pce
56684,gasket clutch block,block,block,block,black,black,black
58279,gasket clutch block,1x1.5ft,1,x,x,x,1x
58305,gasket clutch block,1x1 ft,1,x,x,x,1x
61069,gasket clutch block,units,units,units,unit,NaN,unit
61115,gasket clutch block,1ft,1,ft,ft,NaN,1ft
63956,gasket clutch block,pic,pic,pic,piec,piec,piec
63992,gasket clutch block,1piece,1,piece,pce,NaN,1pce
65865,gasket clutch block,1pv,1,pv,pv,pv,1pv
66291,gasket clutch block,single,single,single,single,single,single
66293,gasket clutch block,1pkt,1,pkt,pkts,NaN,1pkts
66330,gasket clutch block,toyo,toyo,toyo,tool,tool,tool
66411,gasket clutch block,bm,bm,bm,bm,bm,bm
68572,gasket clutch block,pc,pc,pc,pcs,NaN,pcs
83122,gasket clutch block,tvs(complete),tvs(complete),tvs(complete),complete,complete,complete
83218,gasket clutch block,pieces,pieces,pieces,pieces,pieces,pieces
87686,gasket clutch block,m,m,m,m,NaN,m
103216,gasket clutch block,bj,bj,bj,bj,bj,bj
103234,gasket clutch block,ks/bm150,ks/bm150,ks/bm150,bm 150,bm 150,bm 150
103246,gasket clutch block,bajaj,bajaj,bajaj,bajaj,bajaj,bajaj
106808,gasket clutch block,haujue,haujue,haujue,haujue,haujue,haujue
106811,gasket clutch block,haujue(incomplete),haujue(incomplete),haujue(incomplete),haujue(incomplete),haujue(incomplete),haujue(incomplete)
109895,gasket clutch block,bj 100(complete),bj 100(complete),bj 100(complete),bm 150(complete),bm 150(complete),bm 150(complete)
111974,gasket clutch block,hlx 125,hlx 125,hlx 125,hlx 125,hlx 125,hlx 125
111983,gasket clutch block,star,star,star,"star 8""","star 8""","star 8"""
125176,gasket clutch block,cg150,cg150,cg150,cg 125,cg 125,cg 125
126366,gasket clutch block,cg 150 (complete),cg 150 (complete),cg 150 (complete),cg 150 (cooler),cg 150 (cooler),cg 150 (cooler)
126425,gasket clutch block,bj 100 (complete),bj 100 (complete),bj 100 (complete),bm 150(complete),bm 150(complete),bm 150(complete)
128593,gasket clutch block,cg 150,cg 150,cg 150,cg 125,cg 125,cg 125
128738,gasket clutch block,tvs(incomplete),tvs(incomplete),tvs(incomplete),haujue(incomplete),haujue(incomplete),haujue(incomplete)
128782,gasket clutch block,bm150,bm150,bm150,b15,b15,b15
128964,gasket clutch block,bm 150(incomplete),bm 150(incomplete),bm 150(incomplete),cg150 incomplete,cg150 incomplete,cg150 incomplete
128966,gasket clutch block,bj 100(inomplete),bj 100(inomplete),bj 100(inomplete),bm 150(complete),bm 150(complete),bm 150(complete)
128967,gasket clutch block,tvs complete,tvs complete,tvs complete,complete,complete,complete
166708,gasket clutch block,seal,seal,seal,self,self,self
169873,gasket clutch block,spare part,spare part,spare part,spare parts,spare parts,spare parts
193836,gasket clutch block,gasket-pc,gasket-pc,gasket-pc,glass-pc,glass-pc,glass-pc
202035,gasket clutch block,b/gasket,b/gasket,b/gasket,basket,basket,basket
208962,gasket clutch block,nan,nan,nan,nan,nan,nan
224084,gasket clutch block,spaire part,spaire part,spaire part,spare parts,spare parts,spare parts
235189,gasket clutch block,1 pc,1,pc,pcs,NaN,1pcs

In [99]:
df = df[['correct_product_match', 'product_type', 'correct_product_type']].\
            drop_duplicates(subset=['correct_product_match', 'product_type', 'correct_product_type'], keep='first')
            
data[['correct_product_match', 'product_type']] = data[['correct_product_match', 'product_type']].applymap(lambda x: str(x).lower().strip())
data = data.merge(df[['correct_product_match', 'product_type', 'correct_product_type']], how='left', on=['correct_product_match', 'product_type'])

data[['correct_product_match', 'product_type', 'correct_product_type_y']][-50:]

         correct_product_match      product_type correct_product_type_y
959551      hub bearing rubber          ks/bm150                 bm 150
959552              kick start          ks/bm150                 bm 150
959553         axle front half              unit                   unit
959554        clutch cable tvs              unit                   unit
959555       bulb holder small              unit                   unit
959556          battery  solar           12n-2.5                    12n
959557         sulfamycin k sk             100gm                  100gm
959558       rope  polytwisted              2.5g                   2.5g
959559              syringe ml               5ml                    5ml
959560              syringe ml              10ml                   10ml
959561             100ml syrup              20ml                   20ml
959562              syringe ml              60ml                   60ml
959563  hypodermic needle 18gm           1 piece                   1pce
959564  hypodermic needle 18gm        18g×1  1/2                    18g
959565  hypodermic needle 18gm        18g×1  1/2                    18g
959566  hypodermic needle 18gm               18g                    18g
959567             100ml syrup             100ml                  100ml
959568             100ml syrup             100ml                  100ml
959569             100ml syrup             100ml                  100ml
959570           bearing fr za               pcs                    pcs
959571           bearing fr za               pcs                    pcs
959572            charger in 1                pc                    pcs
959573              kids shoes               pcs                    pcs
959574            avi ibd plus         1000doses              1000doses
959575     patress single deep           patress                   pess
959576           push hdpe rod              apex                   tape
959577               pan 4m-21              25kg                   25kg
959578           bearing fr za               pcs                    pcs
959579           bearing fr za               pcs                    pcs
959580         bearings  nguvu            others                 others
959581       bearing 6301 6004               pcs                    pcs
959582   royal seeds butternut             grams                   grms
959583            white feeder                 6                      6
959584           bearing fr za               pcs                    pcs
959585           bearing fr za               pcs                    pcs
959586        pellets  starter               1kg                    1kg
959587   extension black small               pcs                    pcs
959588         pal-vet syringe              unit                   unit
959589      storage bag - 50kg              unit                   unit
959590         down clamp pipe                1l                     1l
959591            eureka 72 wp             100gm                  100gm
959592            bread  white                gm                     gm
959593     vapcomore 20% 20%sp              100g                   100g
959594             100ml syrup            100mls                 100mls
959595     vapcomore 20% 20%sp              100g                   100g
959596     vapcomore 20% 20%sp   insectcide 100g      insecticide 100ml
959597          prolick maziwa               2kg                    2kg
959598             phone cover       restoration            restoration
959599              cold e cup  holts cold start       holts cold start
959600       silcon grey 300ml          grey 85g               reno 85g

In [100]:
data[data['product_type'] == 'ks/bm150'][['correct_product_match', 'product_type', 'correct_product_type_y']]

           correct_product_match product_type correct_product_type_y
81225    sprocket complete chain     ks/bm150                 bm 150
81228               engine valve     ks/bm150                 bm 150
112746          cylinder head cg     ks/bm150                 bm 150
161343              cap wig plug     ks/bm150                 bm 150
164167         main switch stand     ks/bm150                 bm 150
257099               brake pedal     ks/bm150                 bm 150
257286      gasket head cylinder     ks/bm150                 bm 150
258048       gasket clutch block     ks/bm150                 bm 150
258052  motorcycle bearing chain     ks/bm150                 bm 150
258057       gasket clutch block     ks/bm150                 bm 150
608464          speed cable gear     ks/bm150                 bm 150
608468             sprocket star     ks/bm150                 bm 150
608472                kick start     ks/bm150                 bm 150
608479            tank cover top     ks/bm150                 bm 150
608484           tail bajaj lamp     ks/bm150                 bm 150
608486              engine valve     ks/bm150                 bm 150
608487         seals valve shock     ks/bm150                 bm 150
608496           case head bajaj     ks/bm150                 bm 150
608497           front seal fork     ks/bm150                 bm 150
608518             rear sprocket     ks/bm150                 bm 150
608529             sprocket star     ks/bm150                 bm 150
608540           gear lever seal     ks/bm150                 bm 150
677879        mirror side probox     ks/bm150                 bm 150
677898             rear shock kd     ks/bm150                 bm 150
959471            lens head lamp     ks/bm150                 bm 150
959487                   plug  1     ks/bm150                 bm 150
959508       magneto coil gasket     ks/bm150                 bm 150
959529            adjuster chain     ks/bm150                 bm 150
959533      front sprocket bajaj     ks/bm150                 bm 150
959534      tension rubber block     ks/bm150                 bm 150
959550        cone feeder shaped     ks/bm150                 bm 150
959551        hub bearing rubber     ks/bm150                 bm 150
959552                kick start     ks/bm150                 bm 150